body.no-sidebars .left-panel {
    width: 100%;
}
a.translation-link{
  display: none;
}
.search-result .search-snippet-info strong {
    color: #0187c6;
}
.right-panel h2 {
    border-bottom: 2px solid #3a3a3a;
    color: #3a3a3a;
    font-size: 22px;
    padding-bottom: 15px;
	line-height:normal;
}

.right-panel ul.menu li, .right-panel ul.footer-link li{
  margin: 0;
  padding: 0;
}

.right-panel ul li a.active{
  color: #007ac9;
}
body.node-type-product img.file-icon {
    display: none;
}
body.page-node-8987 #two-tab h3,body.page-node-8986 #two-tab h3 {
    color: #000;
    text-align: center;
}
body.page-node-8987 #two-tab h3.active,body.page-node-8986 #two-tab h3.active{
  color: #0099DB;
}
.item-list ul {
    margin: 0;
    padding: 0;
}
.item-list ul li {
  margin: 0;
}

#block-block-23 {
    margin-top: -70px;
}
.col_one{
  width: 100%;
}
.buy-renew > input {
    background: #0099db;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px 20px;
	-webkit-appearance: none;
}

.ajax-progress, ajax-progress-throbber {
display: none;
}


#block-views-product-testimonial-block {padding-bottom: 40px;}
.page-products #sb-site #main .wrapper .body-info .left-panel {width: 100%;}

/******************* news css begin ********************/

.form-item-field-publication-date-1-value-month{
margin-top:-32px !important;
margin-left:135px !important;
}

.news-result ul li a.views-more-link {color:#0386c7; font-size:12px;}
.news-result ul li a.views-more-link:hover {text-decoration:underline;}

#views-exposed-form-news-page label {
    color: #8d9197;
    float: left;
    font-family: "open_sansbold";
    font-size: 14px;
    margin: 9px 19px 0 0;
	font-weight:normal;
}
#views-exposed-form-news-page select {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #8d9197;
    float: left;
    font-family: "open_sansregular";
    font-size: 14px;
    margin: 0 9px 0 0;
    min-width: 183px;
    padding: 9px 9px;
	background:#fff url("../images/form_arrw.png") no-repeat  95% center;
	-webkit-appearance: none;   -moz-appearance: none;   appearance: none;
}
:root #views-exposed-form-news-page select{ background:#fff\10; }  /* IE9 */

#views-exposed-form-news-page .views-widget {float: left;}
/******************* news css end ********************/

li.expanded, li.collapsed, li.leaf {padding: 0 ;}                                   
#sbi-call-form .form-item{
  margin-bottom: 0px;
  margin-top: 0px;    
}
.gmg_chat_outer .gmg_chat_head{
  background: red !important;
}
/********************** Right side Fix *************************/
#sidebarCallForm,#sidebarFeedbackForm{
  padding: 0;
}
#sidebarCallForm > div,#sidebarFeedbackForm > div{
  padding: 20px;
}

.flexslider{
  background: none;
}
    
/************************ faq footer ******************************/

.content-phone {width: 30px;  height: 30px;  -webkit-border-radius: 100px;  -moz-border-radius: 100px;  border-radius: 100px;   border: 2px solid #000000;  font-size:20px; line-height:27px;   color: #000000;  font-weight:bold; float:left; margin:0 10px 0 0; text-align:center;}

#skip-link { display: none}
.flex-next{ display: none}
.flex-prev{display: none}
.flexslider:hover .flex-direction-nav a,
.flexslider:hover .flex-direction-nav a {
  display: none;
}


