@media only screen and (orientation:landscape) {
body { -webkit-text-size-adjust:none; }
}

@media only screen and (orientation:portrait) {
body { -webkit-text-size-adjust:none; }
}

@media screen and (max-width: 1169px) {
	/*.wrapper {padding:0 10px;}*/
	.top-section {display:none;}
	.logo {margin-top:5px;}
	#navHolder {width:765px;}
	#navigation {width:540px;}
	
	#topSelling li .title {font-size:17px;}	
	.col2 {width:223px; min-height: 410px;}
	
/*----------Add on 14/12/15-----------*/
.page-sitemap .block-system ul li {
    margin-right: 4% !important;
	width: 16%;
}	
	

.our-reach ul li { width:34%;}	
.our-reach ul li:first-child{width:63%;}
.our-reach ul li  img {display:block; width:100%;}	
.our-reach ul li span {font-size:16px; padding:5px;}
.our-reach ul li:first-child span {font-size:20px; padding:5px;}
}
@media screen and (max-width: 1279px) {
	/*.wrapper{width:960px; margin:0 auto;}*/
	/*.tab-content-inner ul li{width:45%;}
	.tab-content-inner ul li{margin-left:0px;}
	
	.tab-content-inner ul li:nth-child(2n+1){margin-left:0;}*/
	#bod-tab ul li{margin-left:18px;}
	.tab-content-inner ul li:nth-child(3n+1){margin-left:0px;}
	/*.know-more .text{width:100%; text-align:center;}
	.know-more .pic{float:right; position:static;}
	.know-more .pic img{float:right; position:static;}*/
	/*.col1{width:270px;}
	.col2{width:220px;}*/
	.col_motor{width:100%; margin-left:0;}
	.tab-bttns ul li a{font-size:14px;}
	.tab-content-inner ul li:nth-child(3n+1) .col_motor ul li{margin-left:0;}
	
}

@media screen and (max-width: 1030px) {
/*	.wrapper{width:850px; margin:0 auto;}*/
/*	.know-more .text{width:100%; text-align:center;}
	.know-more .pic{float:right; position:static;}
	.know-more .pic img{float:right; position:static;}*/
	/*.col{padding:0 20px;}
	.col1{width:250px;}
	.col2{width:190px;}*/
	.review{margin-left:28px;}
	#main .wrapper {padding:0 10px;}
	.select-states input[type="submit"]{font-size:14px;}
	/*02-12-2015*/
	.garage-form input[type="text"]{width:40%;}
	.info-contct ul li{width:47%; margin:1%;}
	.info-contct ul li:first-child{ margin:1%;}
	
	#many-tabs h3 {font-size:95%;}
	
	/*----------Add on 14/12/15-----------*/
	.page-sitemap .block-system ul li {
		margin-right: 2% !important;
		width: 17%;
		
	}
}
@media screen and (max-width: 1023px) {
	
	.flex-control-nav{display:none};
	.product-info ul li {width:100%; margin-left:0 !important; max-height:none;}
	.product-info ul li > .benefits {max-height:none;}
	
	.banner-text { top:10px; }
	.banner-text h2 {font-size:20px; padding-bottom:8px;}
	#banner_inner {border-top:1px solid #fff;}
	#banner_inner img{max-width:none; width:auto; /*height:225px;*/ min-height:127px; }
	
	.box-career {width: 47.2%; margin: 1% 1% 1% 1.6%;}
	.box-career:first-child {margin-left:1.6%;}
	
	.our-belief ul li {width: 18.30%;}
}

@media screen and (max-width: 885px) {	
	.tab-holder {clear:both; padding:20px;max-height: 300px;overflow: auto}
	.wrapper{width:100%; /*padding-left:15px; padding-right:15px;*/}
	#quick-link .wrapper {padding:0 0;}
	#header .wrapper{padding-left:0; padding-right:0;}
	.top-section {display:none;}
	.logo {padding:15px 0; text-align:center; width:100%;}
	.logo img {width:auto; display:inline;}
	#navHolder {background:#5c6673; height:38px; width:100%; position:relative;}
	#navigation {display:none;}
	.search-section {padding-top:7px;}
	.phone {float:none; background:none; color:#ffffff; padding:0 0; text-align:center;}
	.phone a {color:#fff;}
	.search {background:#444c57; top:0; border-radius:0;}	
	.search input[type="text"]{border-radius:0; margin:0; background:#444c57 url(../images/icon-search-white.png) no-repeat 95% 50% !important; border:none; height:38px; width:38px;}
	.search input[type="text"]:focus {background-color:#444c57;}
	
	.banner-cont a {display:none;}
	
	#quick-link li {width:50%;   text-align:center; }
	#quick-link li.quate, #quick-link li.policy {border-bottom:1px solid #20a2ea !important;}
	#quick-link li.claim {border-left:none;}
	#quick-link li a span {display:block; margin:0 auto 15px;}
	#quick-link .shadetabs li {width:25%;}
	
	#topSelling li {width:100%; text-align:left; padding:5px 20px; display:table; border-top:1px solid #eaeaea; border-left:none;}
	#topSelling li {display:table-row;}
	#topSelling li .icon-holder, #topSelling li .title {display:table-cell; vertical-align:middle;}
	#topSelling li .icon-holder {padding-right:10px;}
	#topSelling li .desc {display:none;}
	
	.left-panel, .right-panel{width:100%;}
	.know-more .pic{ width:auto;}
	.body-info{padding-bottom:40px;}
	
	.info-sbi-insurance {width:100%; border:none; padding:0 0; display:none;}
	.sbi-testimonials {width:100%; padding:0 20px;}
	.flex-direction-nav {display:none;}
	
	.assured {display:block; max-height:none; overflow:visible;}
	.assured .lt-image, .assured .rt-txt {display:block; width:100%;}
	.assured .lt-image {width:100%; max-height:none; }
	.assured .rt-txt {padding:60px 20px 20px; text-align:center; clear:both;}
	.assured-stamp { top:auto; left:50%; margin-left:-50px; bottom:-50px;}
	
	#home-info {padding-bottom:1px;}
	.right-info, .left-info{width:100%;}
	.news {display:none;}
	
	.quick-links {padding:15px 0;}
	.col {min-height:1px; padding:10px 20px; border:none;}
	.col1 {width:100%; /*padding:0 20px;*/ border:none;}
	.col2 {width: 245px;}
	.col:first-child { padding-left:7px;}
	.social-media ul li {margin-left:10px;}
	
	.footer-bottom {padding:40px 20px;}
	
	.sb-toggle-left {display:block;}
	.rt-fixed-section {display:none;}
	.trust {display:none;}
	a.agent {margin-bottom:20px;}
	
	#block-views-product-related-resources-block, #block-block-23, #block-block-17, #block-menu-menu-footer-menu-first-column-fi {display:none;}
	
	/*02-12-2015*/
	.garage-form input[type="text"]{width:100%; margin-bottom:10px;}
	.garage-form .select{width:100%; margin-left:0; margin-bottom:10px;}
	.garage-form .no-margin{margin-left:0;}
	.garage-form input[type="submit"]{width:100%; margin-top:10px; margin-left:0;}
	
	.info-contct ul li{width:100%; display:table-row; padding: 5px; text-align: left; border-bottom:1px solid #e3e3e3; border-top:none; border-right:none; border-left:none; margin:0;}
	.info-contct ul li a{padding:0;}
	.info-contct .icon-holder, .info-contct .title { display: table-cell !important; vertical-align: middle;}
	/*03-12-2015*/
	.tablewrapper{overflow:auto;}
	.responsive-table, .garage {min-width:inherit;}
	.responsive-table thead, .garage thead{display:none;}
	.responsive-table td, .garage td{display:block; width:100%; padding:6px 20px;}
	.responsive-table tr, .garage tr{display:block;}
	.responsive-table td.align-right, .garage td.align-right{text-align:left !important;}
	.hide-desktop{display:inline-block !important;}
	.sms_box, .email_box{right:0; left:0; top:30px; width:285px;}
	.sms_box::before{left:77px;}
	.email_box::before{left:65px;}
	.email_box.mobile-pointer::before {left:15px}
	.click_submit{float:none; width:auto; display:block;}
	.sms_box input[type="tel"], .email_box input[type="tel"]{float:none; display:inline-block; width:166px;}
	.sms_box input[type="submit"], .email_box input[type="submit"]{float:none; display:inline-block; width:84;}
	.sms_box p, .email_box p{font-size:10px;}
	.page-public-disclosure .select-states { width: 70%}
	
	
	/* product right block hide */
	#block-block-23,#block-block-29,#block-block-30,.view-product-cross-banner , #block-menu-menu-product-menu-right-side, #block-views-product-related-resources-block {display:none;}
}

@media screen and (max-width: 830px) {
	
	
/*----------Add on 14/12/15-----------*/
	.page-sitemap .block-system ul li {
		margin-right: 0 !important;
		display: block !important;
		width: 100%;
		
	}
	.page-sitemap .block-system ul li ul li {
    	display: inline-block !important;
		background: none;
		
		padding: 1px 8px;
		
		margin-right: 1% !important;
		-webkit-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
		transition: all linear 0.2s;
		width: 100%;
	}

	.page-sitemap .block-system ul li span.nolink {
		background: #f6f6f6;
		display: block;
		padding: 1px 5px;
		margin: 15px 0 5px 0;
	}
	.page-public-disclosure .select-states { width: 85%}
}
@media screen and (max-width: 767px) {
.tab {height:auto !important;}
.tab h3 {float:none; width:92.7%; border-left:none;}
.tab div.tabContent {position:inherit;top:0;left:0;padding:10px 10px; /*width:94.7%*/ width:100%;}
#two-tab h3, #many-tabs h3, #bod-tab h3, #product-tabs h3, #contact-tab h3{width:100%; background:url(../images/plus.png) no-repeat 100% 50%; padding-right:20px; text-align:left; border-left:none;  position:relative; font-size:18px;}
#two-tab h3.active, #many-tabs h3.active, #bod-tab h3.active, #product-tabs h3.active, #contact-tab h3.active { background:url(../images/minus.png) no-repeat 100% 50%; border-bottom:2px solid #0088c4;}
.tab h3 img { margin: 0 0;}
#many-tabs h3.active::after, #two-tab h3.active::after, #bod-tab h3.active::after, #product-tabs h3.active::after,  #contact-tab h3.active::after  {display:none;}
#two-tab div, #bod-tab div, #many-tabs div, .tab div.tabContent{top:0; position:relative; background:#f3f3f3; width:100%; clear:both;}
/*#many-tabs h3.active::after, #two-tab h3.active::after, #bod-tab h3.active::after{left:48%;}*/
.col_motor{float:none;}
#bod-tab ul li{width:45%;}
#bod-tab ul li:nth-child(3n+1){margin-left:18px;}
.review{width:100%; margin-left:0;}

	.col2 {width:100%; padding:0  7px;}
	.col1 {padding:10px 7px;}
	.show {display:block;}
	ul.footer-link li ul {display:none;}
	
	#views-exposed-form-news-page label, #views-exposed-form-news-page select {width: 100%; padding-bottom: 10px;}
	#views-exposed-form-news-page .container-inline-date .form-item .form-item { clear: both;    float: left;  padding-bottom: 10px; width: 100%}
	#views-exposed-form-news-page .views-exposed-form .views-exposed-widget {width: 100%;}
	
	#views-exposed-form-news-page .views-widget {width: 100%; clear: both;}
	
	#views-exposed-form-news-page .date-month, #views-exposed-form-news-page  .date-padding, #views-exposed-form-news-page .container-inline-date > .form-item   {float: left; width: 100%;}
	.info-contct ul{padding:20px 0;}
	.info-contct ul li{width:100%; float:left; margin-left:0;}
	.select-states input[type="submit"], .select-states .select{font-size:13px; /*03-02-2015*/}
	.select-states .select{margin-bottom:10px;}
	.google-map, .google-map iframe{width:100%;}
	/*03-12-2015*/
	.query{display:none;}
 	#views-exposed-form-hospital-network-block, .view-hospital-network .view-content{width:100%;}
	
	#views-exposed-form-hospital-network-page {width:100%; clear:both; margin-bottom:10px;}

	#views-exposed-form-hospital-network-block {margin-bottom:10px;}
	
	.banner-text { display:none;}
	#download-tabs h3 {
		text-align: left;
		width: 100%;
	}
	#download-tabs .col-1 {
		width: 30%;
	}
	
	.our-belief ul li {width: 47.2%; height:auto;}	
	.our-reach ul li { width:100%; margin:8px 0}	
	.our-reach ul li:first-child{width:100%;}
}
@media screen and (max-width: 640px) {
	.our-belief ul li {width: 45.2%;}
	ul.blogs-ul li {width:48%; margin:0 0 3% 4% !important;}	
	ul.blogs-ul li .views-field-body { min-height:145px;}
	ul.blogs-ul li:first-child .views-field-body { min-height:inherit;}
	/*ul.blogs-ul li:nth-child(3n+1) {margin-left:4% !important;}*/
	ul.blogs-ul li:nth-child(4), ul.blogs-ul li:nth-child(6), ul.blogs-ul li:nth-child(8), ul.blogs-ul li:nth-child(10), ul.blogs-ul li:nth-child(12) {margin-left:0 !important;}	
	ul.blogs-ul li:nth-child(3), ul.blogs-ul li:nth-child(5), ul.blogs-ul li:nth-child(7), ul.blogs-ul li:nth-child(9), ul.blogs-ul li:nth-child(11), ul.blogs-ul li:nth-child(13)   {margin-left:4% !important;}
}

@media screen and (max-width: 600px) {
#bod-tab ul li{width:100%; margin-bottom:20px;}
.image-list ul li, .video-list ul li {width:48%;}
/*02-12-2015*/
	.garage-form input[type="text"]{width:100%; margin-bottom:10px;}
	.garage-form .select{width:100%; margin-left:0; margin-bottom:10px;}
	.garage-form .no-margin{margin-left:0;}
	.garage-form input[type="submit"]{width:100%; margin-top:10px; margin-left:0;}
	.page-public-disclosure .select-states { width: 95%}
	
	#get-all-form select, .remakrs {width:100%;}
	.feedback-form input[type="text"], .feedback-form input[type="tel"], .feedback-form input[type="email"] {width:100%;}
	/*-------ADD ON (04-02-16)--------*/
	.form-item-mobile, .form-item-phone{
		width: 92.68%;
		display: inline-block !important;
	}
	.page-product-faq .views-exposed-form .views-exposed-widget, .page-faq .views-exposed-form .views-exposed-widget {
		width: 40%;
	}
	
	.get-opportunity {font-size:18px;}
	.get-opportunity a {font-size:14px; padding:8px 10px;}
        .product-info ul li { margin-bottom:10px !important; margin-left:10px !important; }

	
}
@media screen and (max-width: 525px) {
	.page-search .search-form input[type="text"] {
		width:100%;
	}
	.page-public-disclosure .select-states { width: 100%}
	#download-tabs .col-1 {
		width: 50%;
		margin-left: 0;
	}
	.page-product-faq .views-exposed-form .views-exposed-widget, .page-faq .views-exposed-form .views-exposed-widget {
		width: 100%;
	}
	
	.box-career {width: 100%; margin: 0 0 1% 0;}
	.box-career:first-child {margin-left:0;}
}
@media screen and (min-width: 451px) {
	.overlay {display:none !important; }
}
@media screen and (max-width: 450px) {
	.banner-cont {height:auto; top:20px; margin-top:0; left:20px;}
	.banner-cont h2 {font-size:16px; line-height:20px; }
	#quick-link li {font-size:16px;}
	.assured .rt-txt {font-size:14px; line-height:normal;}
	.assured .rt-txt span {font-size:20px;}
	#quick-link {}
	#quick-link li .popup { position:fixed; max-height: 130px;  overflow:auto; top: 0 !important;   width: 96%; z-index:100; }	
	#quick-link li .popup::after {display:none;}
	#quick-link li.quate .popup{max-height: 350px;}	
	#quick-link li.quate  .popup, #quick-link li.claim  .popup  { left:2%; }
	#quick-link li.policy  .popup {left:auto;  right:2%; }
	
	.product-info ul li img {display:none;}
	.product-info ul li > .benefits {margin-left:0;}
	.product-info ul li {width: 100%; min-height: 100%; max-height: 100%; margin-bottom:10px !important; margin-left:0px !important; padding:10px !important;}
	.mask {position:relative; opacity:1; background:none; height:60px; margin:20px 0 12px 0; display:block; text-align:left;}
	
	.email_box.show {width:285px;}
	.email_box input[type="text"] {width:163px;}
	
	.tender-button a {padding:5px 5px;}
	
	
	.flexslider .slides img {/*height: auto; */ margin: 0 auto;  min-height: 145px; }
	
	ul.blogs-ul li {width:100%; margin:0 0 3% 0% !important;}	
	ul.blogs-ul li:nth-child(3n+1) {margin-left:0 !important;}
	ul.blogs-ul li:nth-child(2n+1) {margin-left:0 !important;}
	ul.blogs-ul li .views-field-title {height:auto;}	
	
	ul.blogs-ul li .views-field-title {height:auto;}
	ul.blogs-ul li .views-field-body {min-height:1px;}
}

@media screen and (max-width: 320px) {
		/*#quick-link li { font-size:17px;}*/
}


.social-media{text-align:center;}
