@charset "utf-8";
/* CSS Document */

/* ========== Reset ========== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0;  font-size: 100%;  vertical-align: baseline;   background: transparent;}

body {line-height: 1;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display: block;}
nav ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0;  font-size: 100%;   vertical-align: baseline; background: transparent; text-decoration:none;}
/* change colours to suit your needs */
ins {background-color: #ff9; color: #000;  text-decoration: none;}
/* change colours to suit your needs */
mark {background-color: #353736; color: #fff;  font-style: italic; font-weight: bold;}
del {text-decoration:  line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted;   cursor: help;}
table {border-collapse: collapse;  border-spacing: 0;}
/* change border colour to suit your needs */
hr {display: block; height: 1px;  border: 0;  border-top: 1px solid #cccccc;  margin: 1em 0;  padding: 0;}
input, select { vertical-align: middle;}


/*=======================campaign======================*/   
    .product-row { 
    display:table; border-collapse: separate;border-spacing: 20px;
    }
    
.product-item {
display:table-cell; width:33%; background: #e7ffdf; border: 1px solid #8ec63f; padding: 15px; vertical-align:top; 
}
.product-item:nth-child(even){
background: #def4ff;border: 1px solid #82cff3;
}
@media screen and (max-width: 767px) 
{
.product-row {
display:block;
}
.product-item {
display:block; width:100%; clear:both; margin:20px 0;   
}
}

/*=======================campaign======================*/






/* ========== Typography ========== */
#main h1{/*font-size:24px;*/ font-size:180%; padding-bottom:19px; color:#3a3a3a}
#main h2{/*font-size:24px;*/ font-size:170%; padding-bottom:19px;}
#main h3{/*font-size:22px;*/ font-size:150%; padding-bottom:19px;}
#main h4{font-size:20px;}
#main h5{font-size:16px; padding-bottom:19px;}
#main h6{font-size:14px;}


/* ========== Common ========== */
@font-face {font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; /*-moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s;*/ }

body {color:#646363; font-family: 'open_sansregular'; font-size:13px; font-weight:normal; line-height:22px;}

h1, h2, h3, h4, h5, h6 {font-family:'open_sanssemibold'; font-weight:normal; margin-top: 0px; line-height:normal;}
p {margin: 0 0 20px; }
ul { list-style:none;}

.left{float:left!important;}
.right{float:right!important;}
.clear{clear:both;}
.spacer{clear:both; display:block; line-height:0; font-size:0;}
.clearfix:after {visibility: hidden;  display: block;   font-size: 0;   content: " ";  clear: both;  height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.wrapper {margin:0 auto; max-width:1170px;}


/* ========== Header ========== */
#header { background:#fff; clear:both; -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2); box-shadow: 0 0 5px 0 rgba(0,0,0,0.2); position:relative; z-index:2;}
.top-section { text-align:right; float:left; width:100%; }
.top-link { float:right;}
.accessibility-section{float:right;}
.font-size {float:left;}
.hindi{float:left; padding:0 15px;}
.hindi a {color:#282828; font-size:12px;}
.color-change { float:left; padding-top:7px;}
.color-change a {display:block; height:10px; width:10px; float:left; margin: 0 0 0 4px; border-radius:10px; overflow:hidden; text-indent:-99px;}
.color-change a.black {background:#000; border:1px solid #000;}
.color-change a.white {background:#fff; border:1px solid #afafaf;}
.color-change a:first-child {margin-left:0;}
.top-link ul li {display:inline;}
.top-link ul li a, .top-link ul li span{ color:#282828; font-size:12px; padding:0 10px;}
.top-link ul li a:hover {text-decoration:underline;}
.font-size ul li {display:inline;}
.font-size ul li a{ color:#282828; font-size:14px; padding:0 2px;}
.logo {float:left; width:230px; }
.logo img {display:block; max-width:100%; margin:0 auto;}
#block-menu-menu-header-menu .content > ul.menu > li.first.leaf a {background:url(../images/icon-home-top.png) no-repeat 0 0; font-size:0; display:inline-block; height:16px; width:19px; overflow:hidden; text-indent:-999px;}

/* ========== Navigation ========== */
#navHolder{ float:right; width:880px;}
.search-section {position:relative;  padding-top:20px; text-align:right; }
.phone {color:#007ac9; font-family: 'open_sanssemibold'; font-size:24px; font-weight:normal; padding-left:23px; padding-right:50px; background:url(../images/icon-phone.png) no-repeat 0 50%; float:right;}
.phone a{color:#007ac9;}
.search { /*float:right;*/ position:absolute; top:15px; right:0;}
.search input[type="text"] {background: #fff url(../images/icon-search.png) no-repeat right center !important; font-size:14px;  font-family: 'open_sansregular'; color: #cccccc; width: 33px; height:38px; padding: 10px 35px 10px 10px; -webkit-transition: all 0.7s ease 0s;  -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s;  border:1px solid #fff;  border-left:1px solid #eaeaea;  color:#282828; border-radius:0; -webkit-appearance: none;   -moz-appearance: none;   appearance: none; cursor:pointer;}
.search input[type="text"]:focus { width: 235px; background: #fff url(../images/icon-search-blue.png) no-repeat right center !important; border:1px solid #017acb; cursor:auto; }
/*#navigation ul li {float:left;}
#navigation ul li a {font-size:18px; font-family: 'open_sanssemibold'; font-weight:normal; color:#444c57; padding:20px 22px; display:block;}*/

.sb-toggle-left {height:38px; width:38px; position:absolute; left:0; top:0; background:#444c57 url(../images/icon-mobie-nav.png) no-repeat 0 0; display:none; overflow:hidden; text-indent:-99999px; cursor:pointer; z-index:100;}
.sb-toggle-left.active {background-position:0 -38px;}
#navigation {float:left; width:640px; height:65px; }


/* ========== Banner ========== */
#banner {/*background:#d4d0b6;*/ position:relative; z-index:1;}
#banner .wrapper {position:relative; max-width:none; width:100%; }
#banner_inner{background:#08557f; position:relative; z-index:1;}
#banner_inner img{ max-width:100%; display:block;}
.flexslider .slides > li {position:relative;}
.banner-cont {position:absolute; left:0; height:130px; top:50%; margin:-65px 0 0 0;}
.banner-cont h2{ font-size:28px; font-family: 'open_sansregular'; font-weight:normal;  line-height:40px; color:#252525; padding-bottom:10px;}
.banner-cont h2 span {font-family: 'open_sansbold'; font-weight:normal;}
.banner-cont a {display:inline-block; background:#007ac9; color:#fff; font-size:17px; font-family: 'open_sansbold'; font-weight:normal; padding:10px 20px; border-radius:3px;}
.banner-cont a:hover { background:#fff; color:#007ac9;}



.banner-text {position:absolute; right:0; top:30px; max-width:600px; width:600px; z-index:2;}
.banner-text h2 {font-size:25px; color:#fff; font-weight:normal;  font-family: 'open_sanssemibold'; line-height:normal; text-align:center; padding-bottom:10px;}
.banner-text h2 p {padding:0; margin:0;}
.banner-text .features  {background:rgba(0,0,0,0.7); padding:10px 20px; font-size:14px;  font-family: 'open_sanssemibold'; line-height:normal; color:#ffffff; }
.banner-text .features ul li {background:url(../images/tick-banner.png) no-repeat 0 8px; padding:0 0 5px 15px;}
.banner-text .features p{padding:0; margin:0;}
.banner-text.emptyFeature, .no-features .banner-text{top:100px;}
/* ========== Quick links ========== */

#quick-link { background:#007ac9; border-top:1px solid #fff; float:left; width:100%; clear:both;}
#quick-link li {float:left; width:25%; border-left:1px solid #20a2ea; text-align:center; font-size:20px; font-family: 'open_sanssemibold'; font-weight:normal; font-size:20px; position:relative;}
#quick-link li:first-child {border:none;}
#quick-link li a {color:#fff; display:block; padding:12px 0;}
#quick-link li a span {display:inline-block; height:40px; width:40px; background:url(../images/icon-banner-bot.png) no-repeat 0 0; margin:0 10px 0 0; vertical-align:middle;}
#quick-link li.quate a span {background-position:0 0;}
#quick-link li.policy a span {background-position:0 -40px;}
#quick-link li.claim a span {background-position:0 -80px;}
#quick-link li.print a span {background-position:0 -120px;}

#quick-link li .popup { position:absolute; width:100%; bottom:64px; background:#ffffff; z-index:100; display:none; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); }
/*#quick-link li .popup:after { content:''; width: 0; height: 0; border-style: solid; border-width: 7px 7.5px 0 7.5px; border-color: #ffffff transparent transparent transparent; position:absolute; bottom:-7px; left:50%; margin-left:-7px;  } */

#quick-link .shadetabs{ margin-left: 0; margin-bottom: 0;  list-style-type: none; text-align: left;}
#quick-link .shadetabs li{ float:left; margin: 0; border-left:1px solid #d8d8d8;}
#quick-link .shadetabs li:first-child {border-left:none;}
#quick-link .shadetabs li a{text-decoration: none; position: relative; z-index: 1; padding: 15px 23px;  border:none; border-bottom:1px solid #d8d8d8; color: #353736; font-size:25px; -moz-transition: none;  -o-transition:none;  transition: none;}
#quick-link .shadetabs li a:visited{color: #2d2b2b;}
#quick-link .shadetabs li a:hover{text-decoration: underline; color: #2d2b2b;}
#quick-link .shadetabs li a.selected{position: relative; color:#017ac9;  }
#quick-link .shadetabs li a.selected{ border-bottom:2px solid #007ac9; margin-top:-1px;}
#quick-link .shadetabs li a.selected:hover{text-decoration: none;}
.tab-holder {clear:both; padding:20px;}

.tabcontent{display:none;}
#quick-link  .tabcontent {text-align:left; font-size:14px;}
input[type="text"], input[type="password"],  input[type="number"],  input[type="email"] {border:1px solid #d8d8d8; display:block; padding:5px 10px; /*width:100%;*/ border-radius:5px; height:32px; font-family: 'open_sansregular'; font-size:14px; color:#8f949a; margin-bottom:10px; -webkit-appearance: none;  outline:none; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
input[type="submit"] {display:block; background:#007ac9; color:#ffffff; text-align:center; display:block; border:none; font-size:17px; font-weight:normal; font-family: 'open_sanssemibold'; /*width:100%;*/ border-radius:5px; padding:5px 10px; height:44px;  cursor:pointer; -webkit-appearance: none;}
input[type="submit"]:hover {background:#343735;}






#topSelling{ background:#f4f4f4; float:left; width:100%; padding:30px 0 10px;}

#topSelling li {float:left; width:25%; border-left:1px solid #eaeaea; text-align:center; font-size:20px; padding-bottom:20px; }
#topSelling li:hover {background:#e0e2e3;}
#topSelling li:first-child {border:none;}
#topSelling li .icon-holder { width:105px; margin:0 auto; display:block;}
#topSelling li .title { font-size:18px; color:#007ac9; font-family: 'open_sanssemibold'; font-weight:normal; padding-bottom:3px; display:block;}
#topSelling li .desc { font-size:13px; display:block; color:#646363;  }

/* ========== General Information ========== */
#home-info{ padding:45px 0 20px 0;  clear:both; }
.info-sbi-insurance { float:left; width:50%; border-right:1px solid #e3e3e3; padding:0 30px 0 0; text-align:center; }
.sbi-testimonials {float:left; width:50%; padding:0 90px; text-align:center; }
#home-info h2, #home-info h1 { color:#3a3a3a; /*font-size:24px;*/ font-size:170%; line-height:normal; padding-bottom:25px;}
.testimonials {position:relative;}
.testimonials a {color:#017ac9;}
.testimonials a:hover {text-decoration:underline;}
.author {color:#017ac9; padding-top:12px;}

.assured {  clear:both; float:left; width:100%; margin:53px 0 0 0; }
.assured .lt-image {float:left; width:100%; }
.assured .lt-image  img {display:block; width:100%;}
.assured .rt-txt {color:#fff; font-size:18px; font-family: 'open_sansbold'; font-weight:normal; line-height:normal; display:table-cell; vertical-align:middle;}
.assured .rt-txt span {display:block; font-size:28px;}
.assured-stamp { position:absolute; height:100px; width:100px; top:50%; margin-top:-50px; right:-50px;}

/* ========== Footer ========== */
#footer { clear:both; float:left; width:100%;}
.news {background:#f4f4f4; padding:15px 0;}
.news h2 {color:#007ac9; font-size:24px; float:left; padding-right:16px; background:url(../images/arrow-rt-blue.png) no-repeat 100% 60%; margin-right:20px;}
#ticker_container {padding: 9px 10px 0; overflow: hidden; font-size:15px; width:auto !important;}
#ticker_container a{color:#646464;}
#ticker_container a:hover { color:#017ac9;}
#news {-moz-transition:none;  -o-transition: none;  transition: none; }
#pause_trigger, #play_trigger {display:none !important;}
#prev_trigger {height:16px; width:16px; background:url(../images/arrow-left.png) no-repeat 50% 50%; display:inline-block;}
#next_trigger {height:16px; width:16px; background:url(../images/arrow-right.png) no-repeat 50% 50%; display:inline-block;}

.quick-links {padding:40px 0; float:left; width:100%; clear:both; background:#666666;}
.col {float:left; border-left:1px solid #838383; padding:0 40px 0 40px; min-height:285px;}
.col:first-child {border-left:0; padding-left:0;}
.col1 {width:330px;}
.col2 {width:280px;}
a.agent,a.current_opening {display:block; background:#fff; color:#007ac9; font-size:18px; font-family: 'open_sanssemibold'; font-weight:normal; text-align:center; padding:15px 10px; border-radius:3px; margin-bottom:10px;}
a.agent:hover,a.current_opening:hover {background:#007ac9; color:#fff;}

.trust {background:#fff; border:1px solid #e3e3e3; border-radius:3px; display:table; width:100%; -webkit-box-shadow: 0px 1px 0px 0px rgba(76,76,76,1); -moz-box-shadow: 0px 1px 0px 0px rgba(76,76,76,1); box-shadow: 0px 1px 0px 0px rgba(76,76,76,1); margin-bottom:30px;}
.trust div {display:table-cell; vertical-align:middle; padding:12px; color:#515151; font-size:14px; }
.trust div span {color:#007ac9; font-size:18px; font-family: 'open_sanssemibold'; font-weight:normal;}

.trust div.rt-cont{border-left:1px solid #e3e3e3;}
.trust div.rt-cont{border-left:1px solid #e3e3e3;}
.social-media{ clear:both; margin-top:10%; }
.social-media ul li {display:inline; margin-left:8px;}
.social-media ul li:first-child {margin-left:0;} 
.social-media ul li:hover {opacity:0.5;}

ul.footer-link {padding:0; margin:0; list-style:none;}
ul.footer-link li { /*font-size:14px; */ font-size:105%;  color:#fff; font-family: 'open_sanssemibold'; font-weight:normal; padding-bottom:9px; position:relative;}
ul.footer-link li a {color:#fff;}
ul.footer-link li ul li {font-size:11px; color:#d0d0d0; background:url(../images/bullet.png) no-repeat 0 8px; padding:0 0 0 10px;}
ul.footer-link li ul li a {color:#d0d0d0;}
ul.footer-link li ul li a:hover {text-decoration:underline;}
.show {position:absolute; height:32px; width:32px; background:url(../images/arrow-footer-down.png) no-repeat 0 0; display:block; right:0; top:5px; cursor:pointer; display:none;}
.show.active {background:url(../images/arrow-footer-up.png) no-repeat 0 0; }
.group-company {padding-top:5px;}
.quick-links select {border:1px solid #d8d8d8; border-radius:3px; padding:5px; color:#404348; font-family: 'open_sanssemibold'; font-size:14px; font-weight:normal; width:100%; background:#fff url(../images/form_arrw.png) no-repeat  96% center; appearance:none; -moz-appearance:none;  -webkit-appearance:none;    }
:root .quick-links select { background:#fff\10; }  /* IE9 */

.footer-bottom { padding:40px 0; float:left; width:100%; clear:both; text-align:center; font-size:98%; line-height:20px; font-family: 'open_sanssemibold'; color:#878787;}
.footer-bottom span {color:#aeaeae; font-family: 'open_sansregular';}
.footer-bot-link {padding-top:25px;}
.footer-bot-link ul li {display:inline;  ;}
.footer-bot-link ul li:before {content:'|'}
.footer-bot-link ul li:first-child:before {content:'';}
.footer-bot-link ul li a {padding:0 9px; color:#939393; font-weight:400;}
.footer-bot-link ul li a:hover {text-decoration:underline;}


/* ========== Right Float Section ==========*/
.rt-fixed-section {position:fixed; top:118px; right:0; z-index:99;}
.rt-fixed-section ul li { height:50px; width:50px; margin-bottom:10px; position:relative;}
.rt-fixed-section ul li > a {display:block; background-color:#007ac9; background-image:url(../images/icons-right.png); height:50px; width:50px; text-indent:-9999px; overflow:hidden;-moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s;}
.rt-fixed-section ul li > a:hover, .rt-fixed-section ul li.active > a {background-color:#fff; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);}
.rt-fixed-section ul li > a.call { background-position:0 0;}
.rt-fixed-section ul li > a.social { background-position:0 -50px;}
.rt-fixed-section ul li > a.connect { background-position:0 -250px;}
.rt-fixed-section ul li > a.service { background-position:0 -150px;}
.rt-fixed-section ul li > a.chat { background-position:0 -200px;}

.rt-fixed-section ul li > a.call:hover, .rt-fixed-section ul li.active > a.call { background-position:-50px 0;}
.rt-fixed-section ul li > a.social:hover, .rt-fixed-section ul li.active > a.social  { background-position:-50px -50px;}
.rt-fixed-section ul li > a.connect:hover, .rt-fixed-section ul li.active > a.connect  { background-position:-50px -250px;}
.rt-fixed-section ul li > a.service:hover, .rt-fixed-section ul li.active > a.service { background-position:-50px -150px;}
.rt-fixed-section ul li > a.chat:hover, .rt-fixed-section ul li.active > a.chat { background-position:-50px -200px;}

.rt-fixed-section .pop-up {position:absolute; top:0; right:50px; background:#ffffff; padding:20px; width:292px; display:none; -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.2);}
.rt-fixed-section .pop-up h2 {color:#7d7d7d; font-size:16px; line-height:normal; font-family: 'open_sansregular'; font-weight:normal; border-bottom:3px solid #007ac9; padding-bottom:15px; margin-bottom:20px;}
.rt-fixed-section .pop-up h2 span {display:block; font-size:24px; line-height:25px; color:#515151;}
.rt-fixed-section .pop-up input[type="text"], .rt-fixed-section .pop-up input[type="number"] {border:1px solid #d8d8d8; display:block; padding:5px 10px; width:100%; border-radius:5px; height:32px; font-family: 'open_sansregular'; font-size:14px; color:#8f949a; margin-bottom:5px; outline:none;}
 .rt-fixed-section textarea {border:1px solid #d8d8d8; display:block; padding:5px 10px; width:100%; border-radius:5px; height:100px; font-family: 'open_sansregular'; font-size:14px; color:#8f949a; margin-bottom:10px; outline:none; resize:none;}
.rt-fixed-section .pop-up select {appearance: none; -moz-appearance: none; -webkit-appearance: none; background: #fff url("../images/form_arrw.png") no-repeat scroll 96% center;border:1px solid #d8d8d8; display:block; padding:5px 10px; width:100%; border-radius:5px; height:32px; font-family: 'open_sansregular'; font-size:14px; color:#8f949a; margin-bottom:10px;  outline:none;}
.rt-fixed-section  input[type=checkbox]:not(old), input[type=radio   ]:not(old){ width:28px;  margin:0;  padding:0;  opacity:0; cursor:pointer;}
.rt-fixed-section input[type=checkbox]:not(old) + label, input[type=radio]:not(old) + label{ display:inline-block; margin-left:-28px; padding-left:28px; background:url(../images/checks.png) no-repeat 0 0;
line-height:24px;  font-size:14px;}
.rt-fixed-section input[type=checkbox]:not(old):checked + label{background-position:0 -24px;}
.rt-fixed-section input[type=radio]:not(old):checked + label{background-position : 0 -54px;}
.rt-fixed-section .pop-up a {color:#949e99;}
.rt-fixed-section .pop-up a:hover {text-decoration:underline;} 
.rt-fixed-section .pop-up input[type="submit"] {display:block; background:#007ac9; color:#ffffff; text-align:center; display:block; border:none; font-size:17px; font-weight:normal; font-family: 'open_sanssemibold'; width:100%; border-radius:5px; padding:5px 10px; height:44px; margin-top:20px; cursor:pointer; -webkit-appearance: none;}
.rt-fixed-section .pop-up input[type="submit"]:hover {background:#343735;}

.rt-fixed-section ul li ul li {height:auto; width:auto; margin:0 4px 0 0;}
.rt-fixed-section ul li ul li a { display:inline; background:none; height:auto; width:auto;}
.rt-fixed-section ul li .service ul li {display:block;  border-top:1px solid #e5e5e5;}
.rt-fixed-section ul li .service ul li:first-child {border-top:none;}
.rt-fixed-section ul li .service ul li a {font-size:16px;  font-family: 'open_sansregular'; color:#515151; padding:5px 5px 5px 20px; display:block; text-indent:0; background:url(../images/bullet-tick.png) no-repeat 0 13px; text-decoration:none;  -webkit-box-shadow:none; -moz-box-shadow: none; box-shadow:none}
.rt-fixed-section ul li .service ul li a:hover {color:#017ac9; text-decoration:none;}
/* ========== Side Navigation ========== */
ul.side-nav li {border-top:1px solid #3192d1; position:relative; -moz-transition: none;  -o-transition:none;  transition: none;}
ul.side-nav li.last {border-top:1px solid #3192d1 !important;}
ul.side-nav li:first-child {border-top:none;}

ul.side-nav li  {font-family: 'open_sanssemibold'; font-size:18px; line-height:22px; color:#fff;  display:block;}
ul.side-nav li a { display:block; color:#fff;  padding:18px 14px;}
ul.side-nav li span.nolink:hover { background:#007ac9;}
ul.side-nav li ul {display:none;}
ul.side-nav li ul li  { font-size:14px;   font-family: 'open_sansregular';}
ul.side-nav li ul li a {padding:5px 20px;}
ul.side-nav li ul li a:hover {background:#007ac9 ;}

/*===================Added on 17-11-2015======================*/
ul.side-nav li span.spanToshow {display:block; position:absolute; right:10px; top:20px; height:32px; width:32px; text-align:center; cursor:pointer;}
ul.side-nav li span.nolink { display:block; color:#fff;  padding:18px 14px;}
ul.side-nav li.expanded,ul.side-nav li.leaf{ padding: 0;}



.overlay{ position:fixed; height:100%; width:100%; background:rgba(0,0,0,0); z-index:99; cursor:pointer; left:0; top:0; overflow: scroll;}



/*===================Added on 09-11-2015======================*/
#search-block-form #edit-actions{display:none;}
#search-block-form #edit-actions--2{display:none;}
#search-block-form #edit-actions--3{display:none;}
.font-size ul li{float: left; padding-top: 5px;}


.tb-megamenu-nav li.mega > a{font-size: 18px; color: #444c57; font-weight: normal; border: none;/* padding: 20px 16px;*/ padding:20px 6px;  font-family: 'open_sanssemibold'; /*border-bottom: 3px solid #0e5372;*/}
.tb-megamenu{background: none;}

/*===================Added on 11-11-2015 ======================*/

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {background:#fff; color:#444c57;}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret{border-bottom-color:#444c57; border-top-color:#444c57;}
.tb-megamenu .nav li.dropdown.open .caret, .tb-megamenu .nav li.dropdown.open.active .caret, .tb-megamenu .nav li.dropdown.open a:hover .caret, .tb-megamenu .nav li.dropdown.open a:focus .caret{border-bottom-color:#444c57; border-top-color:#444c57;}
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover { color:#444c57!important ;}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle{color:#444c57!important ; border-bottom:3px solid rgba(0, 76, 110, 0.9);}
.tb-megamenu .dropdown-menu {background:rgba(0,76,110,0.9); border:none; color:#fff;}
.tb-megamenu .mega-caption {color:#fff;}

.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {color:#fff; /*padding-bottom:5px;*/ padding:5px;}
.tb-megamenu .mega-caption {overflow:hidden; display:block; white-space:normal;}
.image-holder {display:block; float:left; width:67px; margin:0 13px 0 0;}
.description-holder {overflow:hidden; display:block; font-weight:normal;  font-family: 'open_sansregular'; white-space:normal;}
.description-holder span.menu_title { font-family: "open_sansbold"; font-size:18px; display:block; padding-bottom:10px;}
.tb-megamenu .product_menu_title {display:none !important;}
.mega-caption {font-weight:normal;  font-family: 'open_sansregular';}

.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {background:rgba(53,55,54,0.3);}

.tb-megamenu .dropdown .caret { height:10px; width:10px; border:none; background:url(../images/arrow-menu-down.png) no-repeat 50% 50%; margin-left:6px !important;}
.tb-megamenu .dropdown:hover .caret {background:url(../images/arrow-menu-up.png) no-repeat 50% 50%;}

ul li.expanded, ul li.leaf {list-style-image:none; list-style-type:none;}
img.lazyloader-icon{width: 50px !important;height: 50px !important;}


/*=====================about page general info=====================*/

.breadcrumbs{padding:19px 0 16px; margin-bottom:50px; border-bottom:dotted 1px #c5c5c5;}
.breadcrumbs ul li{display:inline; padding-left:15px; background:url(../images/arrow-rt-blue.png) no-repeat left 5px; padding-right:15px;}
.breadcrumbs ul li:first-child{padding-left:0; background:none;}
.breadcrumbs ul li a{color:#646363;}
.breadcrumbs ul li.active a{color:#0095da;}
.body-info{}
/*=================left-panel content=====================*/
.left-panel{width:71.02%;}
.left-panel h2{font-size:24px; padding-bottom:19px; line-height:32px; color:#3a3a3a;}
p.semibold{font-weight:600;}

/*tabbed content*/
.tabHolder{ margin-bottom:40px;}
.tab {position:relative;}
.tab h3 { padding: 7px 15px ;margin: 0 2px 0 0;cursor: pointer;float:left;color:#ffffff; position:relative; border-left:2px solid #f4f4f4; border-bottom:2px solid #e0e0e0;}
#two-tab h3{width:48%;}
.tab h3:first-child{border-left:none;}
#two-tab h3.active:after{width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #007ac9; position:absolute; content: "";display: block; /*top:58px;*/ left:184px; transition:none; bottom:-10px;}
.tab h3 img{display:block; margin:0 auto;}
.tab h3:hover {background-color: #fff;}
.tab h3.active {background:#fff;border-bottom:2px solid #007ac9;}
.tab div.tabContent {margin: 0; display: none;position:absolute;top:95px;left:0;color:#646363;}
.tab p{color:#646363; /*font-size:13px; line-height:normal;*/}
.tab div a{color:#0386c7;}
.tab div a:hover{color:#2a2a2a;}
/*=================right-panel content=====================*/
.right-panel{width:24%;}
.right-panel h3{font-size:22px; color:#3a3a3a; border-bottom:solid 2px #3a3a3a; padding-bottom:15px;}
.right-panel ul{padding:26px 0 45px;}
.right-panel ul li{/*background:url(../images/check-grey.png) no-repeat left 7px;*/}
.right-panel ul li.active a,.right-panel ul li:hover a{color:#007ac9;}
.right-panel ul li a{color:#646363; line-height:30px; padding-left:30px; /*font-size:14px;*/ font-size:105%; display:block; height:auto; background-position:0 3px;}
.right-panel ul.slides li a{padding-left:0;}
.know-more{background:#eeeeee; width:100%; display:block; padding:35px 0 0 14px; position:relative; border: solid 1 px #e0e0e0; border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -moz-border-radius:5px; margin-bottom:35px; position:relative; border:1px solid #e0e0e0;}


.right-panel ul li a.pdf { background:url(../images/pdf.png) no-repeat 0 5px}
.right-panel ul li a.doc { background:url(../images/doc.png) no-repeat 0 5px}
.right-panel ul li a.txt { background:url(../images/text.png) no-repeat 0 5px}


.know-more .pic{position:absolute; right:0; bottom:0; width:40%;}
.know-more .pic img {display:block; width:100%;}
.know-more .text{float:left; width:60%; padding-bottom:40px;}
.know-more .text h3{font-size:17px !important; color:#202020; text-transform:uppercase; border:none;}
.know-more .text h3 span{font-size:22px; text-transform:none; display:block;}
.know-more .text p{color:#757575; font-size:13px; /*text-align:center;*/ letter-spacing:-1px;}
a.more{color:#fff !important; background:#007ac9; padding:10px 12px 10px; border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -moz-border-radius:5px; text-decoration: none !important;}
a.more:hover{background:#2e2e2e;}

/*=================Board of Directors page content starts=====================*/

/*=================bod tabbed content=====================*/
#bod-tab h3{width:48%; text-align:center; color:#3a3a3a; font-size:16px;}
#bod-tab h3.active:after{width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #007ac9; position:absolute; content: "";display: block; top:50px; left:184px; transition:none;}
#bod-tab ul li a{color:#3a3a3a; font-size:15px; font-weight:600;}
#bod-tab ul li.active a{color:#0088c4;}
#bod-tab ul li{display:inline-block; vertical-align:top; width:30%; margin-left:35px; margin-bottom:50px; padding-left:0 !important; background-image:none !important;}
#bod-tab ul li:nth-child(3n+1){margin-left:0;}
.bod span.bodImg{border-radius:2px; border:1px solid #e3e3e3; padding:2px; float:left; margin-right:6px; height:68px; width:68px; overflow:hidden;}
.bod span.bodImg img {display:block; width:100%; height:auto; border-radius:2px;}
.bod span.txt{display:block;}
span.txt h6{display:inline; color:#3a3a3a;}
span.txt p{font-size:12px; line-height:20px; color:#898989; display:block; margin-bottom:0; font-weight:normal;}

/*=================Motor private car tabbed content=====================*/
.box{margin-top:40px;}
#many-tabs h3{width:19%; padding:12px 8px; color:#3a3a3a;/* font-size:16px*/ font-size:113%;  text-align:center;}
#many-tabs h3.active:after{width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #007ac9; position:absolute; content: "";display: block; bottom:-10px; left:70px; transition:none;}
#many-tabs div{/*top:70px;*/ margin-top:10px;}
.first{margin-left:0 !important;border:none !important;}
.last{margin-right:0 !important;border:none !important;}
.col_motor{width:46%; float:left; margin-left:50px;}
.col_motor li{width:100%; margin:0 0 12px 0; background:url(../images/key-featr.png) no-repeat left 3px; padding-left:25px; line-height: 20px; }
.col_motor li ul {padding:10px 0 0;}
.col_motor li ul li { background:url(../images/key-featr-inner.png) no-repeat left 3px;}
.col_motor li a{/*font-size:14px;*/ color:#646363;}
.review{width:46%; float:left; margin-left:50px; margin-bottom:40px;}
.review li:hover a{color:#007ac9;}
.review span{color:#017ac9;}

.bottom{margin-top:40px;}

*::-moz-placeholder {color: #9ea1a8; }
*::-moz-selection { color: #9ea1a8;}
.right_form{background:#fcfcfa; border:#d8d8d8 solid 1px; margin-bottom:35px;}
.right_form fieldset{padding:31px 12px 10px;}
.heading {position: relative;background: #0099db;border: 1px solid #0099db;}
.heading:after, .heading:before {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0; position: absolute;pointer-events: none;}
.heading:after {border-color: rgba(0, 153, 219, 0);border-top-color: #0099db;border-width: 13px;margin-left: -14px;}
.heading:before {border-color: rgba(0, 153, 219, 0);border-top-color: #0099db;border-width: 0px;margin-left: 0;}
.heading p{font-size:16px; color:#fff; text-align:center; padding:15px 0; margin:0;}
.txtF{font-size:14px; width:100%; margin-bottom:9px; color: #9ea1a8; padding:9px 11px; height:39px; border:solid 1px #d7d7d7; border-radius:5px; background:#fff;}
.right_form input[type=checkbox]{background:none; color: #9ea1a8; margin-right:10px;}
.right_form input[type=submit]{margin-top:18px;}
.right_form select{background:url(../images/form_arrw.png) no-repeat 96% #fff; line-height: 1; appearance:none; -moz-appearance:none; -webkit-appearance:none;}


/* added on 20-11-2015 */
#quick-link .shadetabs li {border-bottom:1px solid #d8d8d8;}
#quick-link .shadetabs li.selected {border-bottom:2px solid #007ac9;}
#quote-forms input[type="submit"]{ font-size:0; background-color:#ffffff;}
#quote-forms input[type="submit"].car-insurance {background:#ffffff url(../images/icon-car.png) no-repeat center 0;}
#quote-forms .selected input[type="submit"].car-insurance { background-position: center -44px;}
#quote-forms input[type="submit"].health-insurance {background:#ffffff url(../images/icon-heartbeat.png) no-repeat center 0;}
#quote-forms .selected input[type="submit"].health-insurance { background-position: center -44px;}
#quote-forms input[type="submit"].travel-insurance {background:#ffffff url(../images/icon-plain.png) no-repeat center 0;}
#quote-forms .selected input[type="submit"].travel-insurance { background-position: center -44px;}
#quote-forms input[type="submit"].home-insurance {background:#ffffff url(../images/icon-home.png) no-repeat center 0;}
#quote-forms .selected input[type="submit"].home-insurance { background-position: center -44px;}



#quick-link .form-item, #quick-link .form-actions {margin:0 0;}


/* ========== Error Message ========== */
div.error, .errordiv{border: none; color: #a12020;  font-size: 12px;  font-weight: 400; padding: 5px; margin-bottom:10px;   font-family: 'open_sansregular'; background-color:#f7dada; background-image:none; clear:both; t text-align: left;}
.form-item input.error, .form-item textarea.error, .form-item select.error { border:1px solid red !important;}
li div.error {margin-bottom:0;}
.Thankyou {clear: both; padding: 5px; background:#D8F6CE; font-family: 'open_sansregular'; font-size: 12px; color: #298A08;}

/* added on 23-11-2015 */
/*=================Product Details Page Two car tabbed content=====================*/
#blue-form-tabs h3{background:#007ac9; color:#fff; font-size:16px; border:none; width:49%; text-align:center; padding:13px 12px;}
#blue-form-tabs h3.active{background:#0099db}
#blue-form-tabs h3.active::after {border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #0099db;content: "";display: block;height: 0;left: 60px;position: absolute;top: 48px;transition: none 0s ease 0s ;width: 0; z-index:2;}
#blue-form-tabs div{top:48px; width:98%; padding:21px 4px 11px; border:1px solid #d8d8d8; border-top:none;}
#blue-form-tabs .right_form{border:none; background:none; margin:0;}


/*=================Product Details landing page content=====================*/

#product-tabs h3{width:32%; text-align:center; padding:12px 8px;float:left; border-left:solid 2px #e0e0e0; position:relative; color:#3a3a3a; /*font-size:18px;*/ font-size:125%;}
#product-tabs h3 a{color:#3a3a3a; font-size:18px; text-decoration:none;}
#product-tabs h3.active::after, .heading_h3 h3:hover::after {border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #0289C3;content: "";display: block;height: 0;left: 50%;position: absolute;bottom: -12px;transition: none 0s ease 0s ;width: 0; z-index:2; margin-left:-5px;}
#product-tabs h3:first-child{border-left:none;}

.product_content{margin-top:50px;}
.heading_h3 h3{border-bottom:solid 2px #e0e0e0;}
.heading_h3 h3.active, .heading_h3 h3:hover{border-bottom: 2px solid #007ac9;}
.product-info{margin:0 0 30px; display:block !important; }
.product-info h4{color:#3a3a3a; font-size:18px; line-height:32px;}
.product-info ul{ overflow:hidden; margin:16px 0 0;}
.product-info ul li{width:48%; float:left; border:solid 1px #d4d4d4; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:17px 19px!important; margin-left:20px !important;  margin-bottom:20px !important; overflow:hidden; position:relative; cursor:pointer; max-height:160px; min-height:160px; background-image:none !important;} 
.product-info ul li:nth-child(2n+1){margin-left:0 !important;}
.product-info ul li img{float:left; margin-right:19px; max-width: 45px; height: 45px;}
#product-tabs .product-info ul li h3{color:#0187c4; /*font-size:18px;*/ font-size:125%;  font-family: 'open_sansregular'; margin-top:5px; /*float:left;*/ border:none; padding:0; width:auto; overflow:hidden; text-align:left;}
.product-info ul li > .benefits{    float:left; margin-left:62px;   max-height:90px;    overflow:hidden;}
.product-info ul li > .benefits ul{margin:0;}
.product-info ul li > .benefits ul li{background:url(../images/tick.png) no-repeat left 7px !important; width:100%; padding:0 0 0 20px !important; border:none; margin:0 !important; min-height:1px;}
.product-info ul li > .benefits ul li a{color:#646363; font-size:13px;}

.mask{width:100%; height:100%; position: absolute; overflow: hidden;top: 0;left: 0; background:rgba(227,227,227,0.7); text-align:center; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;}
.mask_a{color:#fff !important; background:#007ac9; padding:10px 14px; position:relative; top:46%; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px;}
.mask_a:hover{background:#000a11;}
.product-info ul li:hover .mask {-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}
#product-tabs .product-info h3 { border:none;    float: none;    line-height: 32px;    margin: 0;    padding: 0;    text-align: left;    width: auto; background:none;}

/*================= Nerws Page =====================*/
.search-box{ float:left; width:100%; padding:5px 0 37px 0;}
.search-form label {color:#8d9197; font-family: 'open_sansbold'; font-size:14px; float:left; margin:9px 19px 0 0;}
.search-form select { float:left; padding:9px 20px; border:1px solid #d8d8d8; border-radius:3px;   font-family: 'open_sansregular'; font-size:14px; color:#8d9197; margin:0 9px 0 0; min-width:183px;}

#main .news-result h3, #main .view-tender h3{ color:#3a3a3a; font-family: 'open_sanssemibold'; font-size:16px; border-bottom:2px solid #e3e3e3; padding-bottom:18px; }

.news-result ul  {padding-bottom:30px;}
.news-result ul li{ border-top:1px solid #e3e3e3; padding:20px 0 0 0 !important; background-image:none!important;}
.news-result ul li:first-child {border:none;}
.news-result ul li .title { color:#0386c7; font-size:14px; display:block; line-height:normal;}
.news-result ul li .title a {color:#0386c7;}
.news-result ul li .title a:hover {text-decoration:underline;}
.news-result ul li .date { color:#909090; font-size:11px; display:block; line-height:normal; margin-bottom:18px;}
.news-result ul li a.read-more {color:#0386c7; font-size:12px;}
.news-result ul li a.read-more:hover {text-decoration:underline;}



/*=================download page content=====================*/

/*body.page-downloads #banner_inner{background: #3b7292;}
body.page-downloads #banner_inner img { display: block; max-width: 100%;}*/

#download-tabs h3.active::after { border-left: 10px solid transparent; border-right: 10px solid transparent;  border-top: 10px solid #007ac9; content: ""; display: block; height: 0; left: 127px; position: absolute; top: 48px; transition: none 0s ease 0s ; width: 0;}
#download-tabs h3 { color: #3a3a3a; font-size: 16px; padding: 12px 8px; text-align: center; width: 24%;}
#download-tabs h4{margin-bottom:19px;}
.full-width{padding-bottom:50px;}
#download-tabs .tabContent {width: 100%;}
.col-wrap{width:100%;}
.col-1{width:19%; float:left; margin-left:10px;}
.col-1:first-child{margin-left:0;}
.col-1 h6{font-weight:normal; font-size:16px; color:#0088c4; margin-bottom:10px;}

/*=================contact us content=====================*/

/*body.page-node-9073 #banner_inner{background: #252525;}
body.page-node-9073 #banner_inner img { display: block; max-width: 100%;}*/
.margin-botom{margin-bottom:20px;}
.info-contct{display:block; margin-bottom:20px;}
.info-contct ul{ padding:0 0; float:left; width:100%; margin-bottom:20px;}
.info-contct ul li{display:inline-block; border:solid 1px #e3e3e3; width:15% ;/* width:24%;*/ text-align:center; /*min-height:160px*/; vertical-align:top; cursor:pointer; margin-left:9px; -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s; float:left;}
.info-contct ul li:first-child{margin-left:0;}
.info-contct ul li:hover{background:#e0e2e3;}
.info-contct ul li.active {background:#e0e2e3; border-bottom:2px solid #0088c4; /*position:relative;*/}
/*.info-contct ul li.active:after { position:absolute; content:""; width: 0; height: 0; border-style: solid; border-width: 9px 8px 0 8px; border-color: #0089c4 transparent transparent transparent; margin-left:-8px; left:50%; bottom:-9px; }*/
.info-contct ul li a{ padding:26px 12px 23px; text-decoration:none !important;}
.info-contct .icon-holder{display: block; margin: 0 auto; width: 54px; height:47px;}
.info-contct li .title { color: #6f6f6f; display: block; font-family: 'open_sansregular'; font-size: 15px; font-weight: normal;text-align:center; min-height:44px; overflow:hidden; margin-top:20px; padding:0 5px;}
.hide-desktop{display:none !important;}

#contact-tab .tabContent{width:100%;}
#contact-tab h3 {color: #3a3a3a; font-size: 16px; text-align: center; width: 32%;}
#contact-tab h3.active::after { border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #007ac9; content: ""; display: block; height: 0; left: 47%; position: absolute; bottom: -12px; transition: none 0s ease 0s ; width: 0; z-index: 2;}

.select-states .views-exposed-form .views-exposed-widget {float: none; padding: 0;}
.select-states .views-exposed-widgets{margin: 0;}
.select-states .views-exposed-form .views-exposed-widget .form-submit{margin-top: 0px;}

.select-states{background:#ebebeb; padding:10px; width:100%; float:left; clear:both;}
.select-states .select{appearance:none; -moz-appearance:none;  -webkit-appearance:none; background: transparent; width: 76%; padding: 5px; font-size: 16px; line-height: 1; height: 47px; background:#fff url(../images/form_arrw.png) no-repeat 98% center;  border-radius:5px; border:solid 1px #d8d8d8; float:left; color:#8f949a;}
:root .select-states .select { background:#fff\10; }  /* IE9 */
.select-states input[type=submit]{background:#007ac9; color:#fff; font-size:16px; font-weight:500; border:none; border-radius:5px; float:right; cursor:pointer; width:22%; -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s;}
.select-states input[type=submit]:hover{background:#2e2e2e;}

.tablewrapper{/*margin-top:35px;*/ width:100%; overflow-x:auto; overflow-y:hidden;clear:both;}
.data-table{min-width:768px; width:100%;}
.data-table th{color:#3a3a3a; font-size:16px; padding:25px 20px; text-align:left; border-bottom:solid 2px #e3e3e3; }
.data-table tr{margin-bottom:18px; border-top:solid 1px #e3e3e3; padding-top:15px;}
.data-table tr:first-child{border:none;}
.data-table td{padding:25px 20px;}
.data-table td.branch-address {max-width:320px;}
.data-table p{margin-bottom:8px; color:#3a3a3a}
.data-table a{color:#007ac9; font-size:14px;}
.center_align{text-align:center !important;}

.address_bar{padding-bottom:40px; font-size:14px;}
.address_bar h3{font-size:14px !important; color:#007ac9 !important; line-height:27px; margin-top:22px;border: none;}
.address_bar a{color:#007ac9;}
.address_bar a:hover{color:#3a3a3a;}
.query a span{display:inline-block; vertical-align:middle; margin-right:10px;}
.query a.cAgent{width:100%; display:block; text-align:center; color:#007ac9; font-size:16px; border:solid 1px #e3e3e3; padding:12px; -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s;}
.query a.cAgent:hover{border:solid 1px #007ac9;}

/*=================Garage Locator content=====================*/

.full-width{width:100%;}
.align-right{text-align:right !important;}
.align-left{text-align:left !important;}
.align-center{text-align:center !important;}

.garage th{color:#767676;  font-family: 'open_sanssemibold'; font-weight:normal;}

.garage td{color:#3a3a3a;}
.click ul li{display:inline-block; cursor:pointer;}

.garage-form{display:block;}
/*03-12-2015*/
.garage-form input[type=text]{border:solid 1px #d8d8d8; border-radius:3px; height:43px; width:43%; display:inline-block; margin-bottom:0;}
.garage-form .select{border:solid 1px #d8d8d8; border-radius:3px; height:43px; width:21%; display:inline-block; margin-left:12px; background:url(../images/form_arrw.png) no-repeat 96% #fff; line-height: 1; appearance:none; -moz-appearance:none; -webkit-appearance:none; padding:1%; color:#9da2a7;}
.garage-form input[type=submit]{width:11%; margin-left:12px; display:inline-block;  -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s; height:43px;}

.click{position:relative;}
td.click {min-width:130px;}
.click_submit{border: 1px solid #e3e3e3; display:block;  overflow: hidden; height: 36px; border-radius:5px;}
.sms_box{border: 1px solid #e3e3e3; height: 80px; position: absolute; right: 10px; top: 60px; background:#fff; width: 382px; padding:11px;}
.sms_box input[type=tel]{ display:inline-block; float:left; width:260px; height:33px; border:none; padding:10px;}
.sms_box input[type=submit]{ width:96px; height:34px; display:inline-block;}
.sms_box p{font-size:13px; color:#8c8c8c;}
.click_submit .form-item {margin: 0;}
.sms_box::before{border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #e3e3e3;content: "";display: block;height: 0;left: 301px; top:-10px;position: absolute;transition: none 0s ease 0s ;width: 0; z-index:2;}

.email_box{border: 1px solid #e3e3e3; /*height: 80px;*/ position: absolute; right: 10px; top: 60px; background:#fff;  padding:11px;height:1px;width: 1px; opacity: 0; z-index:99;}
.email_box.show{height: auto;width: 382px; opacity: 1; display: block}
.email_box input[type=text]{float:left; width:260px; height:33px; border:none; padding:10px;}
.email_box input[type=submit]{ width:96px; height:34px; float:left;}
.email_box p{font-size:13px; color:#8c8c8c;}

.email_box::before{border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #e3e3e3;content: "";display: block;height: 0; right: 15px; top:-10px;position: absolute;transition: none 0s ease 0s ;width: 0; z-index:2;}
.email_box.mobile-pointer::before { right:60px;}

/*=================left navibar begin=========================================*/

.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed,
.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed:before { left: auto }
.gw-sidebar .nano-pane {background: rgba(255, 255, 255, 0);  font-size: 15px;}
.gw-sidebar .gw-nav-list { border-right: 1px solid #CCC; }
.gw-nav-list {margin: 0;  padding: 0; list-style: none}
.gw-nav-list>li:first-child { border-top: 0; }
.gw-nav-list>li {display: block; border:none; margin-bottom:5px;  position: relative;  text-decoration: none;}
.gw-nav-list> li.init-arrow-down{background:url(../images/right-arrw.png) no-repeat left 8px; padding-left:15px;}
.gw-nav-list>li.arrow-up{ background:url(../images/blue-down.png) no-repeat left 8px; padding-left:15px;}
.gw-nav-list>li.active { background-color: #fff; }
.gw-nav-list>li>a { display: block;  color: #7c7c7c; text-shadow: none!important; font-size: 13px; text-decoration: none;}
.gw-open > a { outline: 0; }
.gw-nav-list>li.active>a,
.gw-nav-list>li.active>a:hover,
.gw-nav-list>li.active>a:focus,
.gw-nav-list>li.active>a:active { background-color: #fff; color: #007ac8; font-size: 13px;}
.gw-nav-list>li.active>a:hover:before { display: none ;}
.gw-nav-list li.gw-open>a:after { display: none; }
.gw-nav-list>li .gw-submenu { font-size: 13px; display: none;list-style: none; margin: 0; padding: 0; position: relative; /*background-color: #fff;*/}
.gw-nav-list>li .gw-submenu>li { margin-left: 0; position: relative; background:url(../images/right-arrw.png) no-repeat left 8px; padding-left:15px;}
.gw-nav-list > li .gw-submenu > li:hover{background:url(../images/right-blue.png) no-repeat left 9px;}
.gw-nav-list>li.arrow-down{background:url(../images/right-arrw.png) no-repeat left 8px; padding-left:15px;}
.gw-nav-list>li .gw-submenu>li>a { display: block; position: relative; color: #7c7c7c; margin-bottom:0; font-size: 12px; text-decoration: none;}
.gw-nav-list > li > a:hover{ color: #007ac8;}
.gw-nav-list>li .gw-submenu>li>a:focus { text-decoration: none }
.gw-nav-list> li .gw-submenu> li >a:hover { text-decoration: none; color: #007ac8 !important;}
.gw-nav-list>li .gw-submenu>li.active>a { color: #007ac8; }
.gw-nav-list > li .gw-submenu > li > a span{color: #b5b5b5; font-size:11px; }


/*====================Policy Servicing Forms =============================*/
.policy .init-arrow-down {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.policy .gw-menu-text h6 {
    display: none;
}
.policy ul.gw-submenu li a {
    color: #7c7c7c;
}
.policy ul.gw-submenu li a:hover {
    color: #0386c7;
}


/*================= Gallery =========================================*/
/*.left-panel .content li{margin:0 0 12px 0; background:url(../images/key-featr.png) no-repeat left 3px; padding-left:25px;}*/

.image-list, .video-list {float:left; width:100%; clear:both;}
.image-list ul,  .video-list ul {padding:0; margin:0; list-style:none;}
.image-list ul li, .video-list ul li {float:left; width:23%; margin:1%; padding:0; background-image:none !important;}
.image-list ul li img {display:block; max-width:100%; height:auto; margin:0 auto;}

.video-list ul li .player {position: relative;  padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;  height: 0;}
.video-list ul li .player iframe {position: absolute;   top: 0; left: 0;    width: 100%;    height: 100%;}

.tender-list  {float:left; width:100%; clear:both; padding-bottom:20px;}
.tender-list ul {/* display:table;*/}
.tender-list ul li  {border-top:1px solid #e3e3e3; padding:20px 0; }
.tender-list ul li:first-child {border:none;}
.tender-list ul li .views-field-title {display:block; color:#0386c7;}
.tender-list ul li .views-field-field-publish-date {color: #909090; display: block;  font-size: 11px; line-height: normal;   margin-bottom: 18px;}

.tender-list ul li .views-field-field-upload-document a:hover {text-decoration:underline;}

.left-panel a {color:#0386c7;}
.left-panel a:hover {text-decoration:underline;}
ul.group-list li {padding-bottom:12px; background:url(../images/key-featr.png) no-repeat  left 3px; padding-left:25px;}

#main {padding-bottom:20px;}


ol.search-results li {background-image:none !important; padding-left:0 !important;}
ul.style1 li {
    background: rgba(0, 0, 0, 0) url("../images/key-featr.png") no-repeat scroll left 3px;
    margin: 0 0 12px;
    padding-left: 25px;
    width: 100%;
}

/* ========== menu ========= */
.tb-megamenu .dropdown-menu .mega-nav > li.motor-insurance { background:url(../images/motor-insurance.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.motor-two-wheeler { background:url(../images/motor-two-wheeler.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.long-term-home { background:url(../images/long-term-home.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.health-insurance { background:url(../images/health-insurance.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.arogya-plus { background:url(../images/arogya-plus.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.arogya-top-up { background:url(../images/arogya-top-up.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.health-insurance-sbi { background:url(../images/health-insurance-sbi.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.critical-illness { background:url(../images/critical-illness.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.arogya-premier { background:url(../images/arogya-premier.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.hospital-daily-cash { background:url(../images/hospital-daily-cash.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.loan-insurance { background:url(../images/loan-insurance.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.travel-insuracne { background:url(../images/travel-insuracne.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.individual-persoanl-accident { background:url(../images/individual-persoanl-accident.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.group-personal-accident { background:url(../images/group-personal-accident.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.group-personal-accident { background:url(../images/group-personal-accident.png) no-repeat 0 0; padding-left:80px; min-height:90px;}
.tb-megamenu .dropdown-menu .mega-nav > li.motor  { background:url(../images/sbi.png) no-repeat 0 0; padding-left:80px; min-height:90px;}



#sbi-call-form a {color:#0099DB;}
#sbi-call-form a:hover {text-decoration:underline;}
.block ul.textsize_inline {margin:0;}


#user-login, #user-pass {clear:both; padding:10px;}
ul.primary {float:left; width:100%; clear:both; padding-bottom:0;}
ul.primary li {float:left; display:block;}
ul.primary li a { padding:10px; display:block; background:#2E3130; color:#fff; border:1px solid #2E3130;}
ul.primary li.active a {position:relative; top:1px; color:#2E3130; }
ul.primary li a:hover {color:#2E3130;}
#user-login input[type="text"], #user-login input[type="number"], #user-login input[type="email"], #user-login input[type="password"], #user-login input[type="submit"], #user-pass .form-text, #user-login .form-text, #user-pass input[type="submit"]{ width:auto;}



/*=================feedback page content=====================*/

.info-feedback h3{font-size:20px; margin-bottom:16px;}
.feedback-form{display:block; margin-bottom:28px;}
.feedback-form input[type="text"], .feedback-form input[type="tel"], .feedback-form input[type="email"] { border: 1px solid #d8d8d8; border-radius: 3px; padding:5px;  display: inline-block; height: 32px; margin:5px;  width: 30%;}
.feedback-form .select { -moz-appearance: none; background: #fff url("../images/form_arrw.png") no-repeat scroll 96% center; border: 1px solid #d8d8d8;  border-radius: 3px; color: #9da2a7; display: inline-block;  height: 32px;  line-height: 1; padding: 5px;  width: 30%; margin:5px;}

.feedback-form input[type=checkbox]:not(old),
.feedback-form input[type=radio]:not(old){ width : 28px; margin: 0; padding : 0; opacity : 0;}

.feedback-form input[type=checkbox]:not(old) + label,
.feedback-form input[type=radio   ]:not(old) + label{ display: inline-block; margin-left: -28px; padding-left : 28px; background:url(../images/checks_1.png) no-repeat; line-height: 24px;}
.feedback-form input[type=checkbox]:not(old):checked + label{ background-position : 0 -24px;}
.feedback-form input[type=radio]:not(old):checked + label{ background-position : 0 -48px;}
.label-radio{font-size:15px; color:#8a8a8a; width:50%; overflow:hidden; float:left;}
.form-row{width:100%; display:block; margin-bottom:28px;}
.comment-box{display:block; width:100%;}
.comment-box p{font-weight:600; font-size:15px; color:#414141; float:left; overflow:hidden;}
.comment-box textarea{border:solid 1px #d8d8d8; padding:1%; display:block; margin-bottom:15px; width:400px;}
.right-box{float:right; text-align:center; }
.btn{text-align:center; background:#0099dc; color:#fff; font-size:15px; display:inline-block; padding:13px 0; border-radius:5px; width:49%;}
.btn:hover{background:#303030;}


/*=================donot call page content=====================*/
.feedback-form label strong{font-size:15px;}
.info-feedback p{ color: #8a8a8a; font-size:15px; text-transform:capitalize;}
.remakrs{width:65%; display:block;}
.remakrs p{display:block; width:100%;}
.remakrs textarea{display:block; width:100%; border:solid 1px #d8d8d8; padding:1%; margin-bottom:15px;   font-family: "open_sansregular"; font-size:14px; resize:none; }


#get-intimate-claim-form .form-item,#do-not-call-form .form-item{display:inline}
#get-intimate-claim-form select, #do-not-call-form  select {appearance: none; -moz-appearance: none; -webkit-appearance: none;  background: #fff url("../images/form_arrw.png") no-repeat scroll 96% center; border: 1px solid #d8d8d8;  border-radius: 3px; color: #9da2a7; display: inline-block;  height: 32px;  line-height: 1; padding: 5px;  width: 30%; margin:5px;}
.page-intimate-claim .query, .page-do-not-call .query{display:none}
.page-sbi-forms .query{display:none}
#get-all-form .form-item{display:inline}
#get-all-form  select { appearance: none; -moz-appearance: none; -webkit-appearance: none; background: #fff url("../images/form_arrw.png") no-repeat scroll 96% center; border: 1px solid #d8d8d8;  border-radius: 3px; color: #9da2a7; display: inline-block;  height: 32px;  line-height: 1; padding: 5px;  width: 30%; margin:5px;}

/* auto filter */
ul.ui-menu[data-sa-theme="basic-orange"] {max-width: 235px; width: 235px !important; min-width: 235px !important; overflow: hidden;}
.ui-widget-content {border-radius: 0 !important; border-top:none; border-color:#017acb;  min-width:235px; max-width:235px; overflow: hidden; background:#fff !important; font-size:90%; color:#646363; }
ul[data-sa-theme="basic-orange"] .ui-autocomplete-field-title {font-size: 11px; /*border-top: 1px solid #f3f3f3*/}
/*ul[data-sa-theme="basic-orange"] .ui-autocomplete-field-title:first-child {border-top: none;}*/
ul[data-sa-theme="basic-orange"] .ui-autocomplete-field-group {color: #000; float: left; right: auto; left: 0; width: 100%; background:#f3f3f3; text-align: left; padding: 5px; }
ul.ui-menu[data-sa-theme="basic-orange"] .ui-menu-item {margin: 0 0 0 1px !important;}
ul[data-sa-theme="basic-orange"] .ui-menu-item-first { border-top: 1px solid #fff;  }
.ui-autocomplete-field-group.news {padding: 0; background: none;}
ul.ui-menu[data-sa-theme="basic-orange"] .ui-menu-item a {margin-top: 0;  border-radius: 0 !important; background: #fff; border: none !important;}
ul[data-sa-theme="basic-orange"] .ui-autocomplete-fields { font-size: 11px; background:none!important;}
ul[data-sa-theme="basic-orange"] .ui-autocomplete-fields:hover, ul[data-sa-theme="basic-orange"] .ui-autocomplete-fields:active, ul[data-sa-theme="basic-orange"] .ui-autocomplete-fields:focus { background: #007ac9 !important; border:none !important; color: #fff !important;}

#formwrappercall2 input[type="text"], #formwrappercall2 input[type="password"], #formwrappercall2 input[type="number"], #formwrappercall2 input[type="email"], #formwrappercall2 input[type="submit"], #quick-link li input[type="text"], #quick-link li input[type="submit"], #webform-client-form-9058 input[type="text"], #webform-client-form-9058 input[type="email"], #webform-client-form-9058 input[type="submit"], #sbi-call-form input[type="text"], #sbi-call-form input[type="submit"], #call-form input[type="submit"], #call-form input[type="text"],   .right-panel .block-webform input[type="text"],   .right-panel .block-webform input[type="email"], .right-panel .block-webform input[type="password"], .right-panel .block-webform input[type="submit"]{ width:100%;}

.careerImg  img {display:block; max-width:100%; margin:0 auto;}
.tablewrapper.noMargin {margin:0;}
table.career {width:100%; min-width:768px; border-left:1px solid #d8d8d8;}
table.career tr th, table.career tr td {padding:25px; width:50%;}
table.career tr td {border:1px solid #d8d8d8;}
table.career tr th {background:#0088c6; color:#fff; font-size:18px; font-weight:normal;  font-family: 'open_sanssemibold'; border:1px solid #23a8e4;}
table.career tr td.subtitle { font-size:16px; font-weight:normal;  font-family: 'open_sanssemibold'; text-align:center;}
table.career tr td ul li {padding:0 0 8px 20px; background:url(../images/tick.png) no-repeat 0 6px; color:#8d8d8d; font-size:14px;}
div.error{background-repeat: no-repeat;}


body.page-faq #banner_inner {background: #035279;}
.flexslider .slides .pic img{width: auto;}
/*.flexslider .slides img{width:20% !important;} */


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border:none;}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {display:none;}
.ui-accordion .ui-accordion-icons {padding-left:0;}
.view-faq .ui-state-default, .view-faq .ui-widget-content .ui-state-default, .view-faq .ui-widget-header .ui-state-default,
#ombudsman_offices .ui-state-default, #ombudsman_offices .ui-widget-content .ui-state-default, #ombudsman_offices .ui-widget-header .ui-state-default
{background:url(../images/plus.png) no-repeat 100% 50%; border:none; border-bottom:2px solid #e0e0e0; border-radius:0;}
.view-faq .ui-state-active, .view-faq .ui-widget-content .ui-state-active, .view-faq .ui-widget-header .ui-state-active,
#ombudsman_offices .ui-state-active, #ombudsman_offices .ui-widget-content .ui-state-active, #ombudsman_offices .ui-widget-header .ui-state-active
{background:url(../images/minus.png) no-repeat 100% 50%;}
.view-faq .ui-state-active a, .view-faq .ui-state-active a:link, .view-faq .ui-state-active a:visited,
#ombudsman_offices .ui-state-active a, #ombudsman_offices .ui-state-active a:link, #ombudsman_offices .ui-state-active a:visited{color:#3a3a3a;}
.view-faq .ui-accordion .ui-accordion-content,
#ombudsman_offices .ui-accordion .ui-accordion-content
{padding:0; max-height:none; max-width:none; }

.view-faq .ui-widget-content,
#ombudsman_offices .ui-widget-content
{border:none;}



#main .view-faq h5 {padding:10px 30px 10px 0;}




/*----------Add on 14/12/15-----------*/

.page-sitemap .block-system ul li ul li {
    display: block !important;
    background: url("../images/arrow-rt-blue.png") no-repeat left center;
    padding: 0 0 0 11px;
    margin-bottom: 6px;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
    width: 100%;
    margin-left: 0px !important;
}
.page-sitemap .block-system ul li ul li a {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.page-sitemap .block-system ul li ul li a:hover {
    color: #c3c3c3;
}
/*.page-sitemap .block-system ul li ul {
    padding-left: 10px;
}*/
.page-sitemap .block-system ul li {
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: 1% !important;
    width: 18%;
    margin-left: 0px !important;
    font-size: 100%;
    background:none !important;
    padding-left:0 !important;
    font-family: "open_sansregular" !important;
}
.page-sitemap .block-system ul li  a { color:#0386c7 !important;}
.page-sitemap .block-system ul li  a:hover {color:#0386c7 !important; text-decoration:underline;}

.page-sitemap .block-system ul li:last-child { margin-right:0 !important}

.page-sitemap .block-system ul li span.nolink { font-size: 110%; font-family: 'open_sanssemibold'; padding-bottom:10px; display:block; color:#444c57;}
.page-sitemap .block-system ul { margin-bottom: 15px}
.page-sitemap .block-system ul:last-child { margin-bottom: 0px}

/*.footer-link-sitemap, .footer-link-sitemap  ul li a { color: #fff}*/

.page-search .form-item-keys .valid { float: left; margin-right: 10px;}
.page-search #edit-basic input[type="submit"] {
    padding: 0px 6px;
    height: 33px;
    line-height: 33px !important;
}

.page-search ol.search-results li.search-result h3.title { font-family: 'open_sansregular'; font-size: 120% !important; font-weight: normal; padding-bottom: 6px !important;}
.page-search ol.search-results li.search-result .search-snippet-info p.search-snippet { margin-bottom: 5px; font-size: 105%; font-family: 'open_sansregular'; }
.page-search ol.search-results li.search-result .search-snippet-info p.search-info { margin-bottom: 0; font-size: 98%; font-family: 'open_sanssemibold';}
.page-search ol.search-results li.search-result .search-snippet-info { padding-left: 0px !important}
.page-search ol.search-results li.search-result{ border-top: 1px solid #E3E3E3;}
.page-search ol.search-results li.search-result { margin-bottom: 0 !important; padding: 20px 0 !important}
.item-list .pager li {background-image: none; display: inline;  list-style-type: none; padding: 2px 8px; font-size: 14px; border:1px solid #ccc;}

.item-list .pager li.pager-current {}
.item-list .pager {margin-top: 10px; padding:10px 0;}
.page-search form#search-form { border-bottom: 1px solid #f2f2f2; padding-bottom: 1.4em;}
html.js input.form-autocomplete {
    background-position: right 5px center;
}
.page-search .search-form label {
    color: #8D9197;
    font-family: "open_sansbold";
    font-size: 14px;
    float: left;
    margin: 5px 19px 0px 0px;
    font-weight: normal;
    
}


.important-link li
{
background:url(../images/key-featr.png) no-repeat scroll left 3px;font-size: 100%;margin: 0 0 12px;padding-left: 25px;
}

.important-link li a
{
color:#646363;
}

.important-link li a:hover
{
text-decoration:underline;
}


.page-node-8989 .field-item ul li, .page-node-9542 .field-item ul li {background:url(../images/key-featr.png) no-repeat scroll left 3px;    font-size: 100%;    margin: 0 0 12px;    padding-left: 25px;}
.page-node-8989 .field-item ul li a, .page-node-9542 .field-item ul li a { color:#646363;}
.page-node-8989 .field-item ul li a:hover, .page-node-9542 .field-item ul li a:hover {text-decoration:underline;}

.lightbox2-alt-layout-data #bottomNav {
    margin-bottom: 0px;
}
.lightbox2-alt-layout-data #bottomNavClose {
    margin-top: 33px;
}
.page-public-disclosure .select-states { width:/* 55%*/}
.page-public-disclosure .select-states .select {
    width: 100%;
}

select#edit-jump { /*width: 250px*/}
select#edit-jump option {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 230px !important;
    max-width: 230px;
    min-width: 230px;
    font-size: 12px;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.pop-up select option { 
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 230px;
    font-size: 12px;
    white-space: nowrap;
    -webkit-appearance:none;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}


.top-link ul li  {position: relative;}
.top-link ul li ul{position: absolute;left: 0;top: 100%;width: 150px;padding: 5px;background: #fff; z-index: 9; box-shadow: 0 0 1px rgba(0,0,0,0.5); display: none;}
.top-link ul li:hover ul { display: block;}
.top-link ul li ul li { float: none; margin: 0 0; display: block; }
.top-link ul li ul li a {padding:3px 5px; display:block; border-top:1px solid #ccc; }
.top-link ul li ul li:first-child a{border:none;} 
.top-link ul li ul li a:hover { text-decoration: underline;} 


div.mask {position: relative; left: auto; overflow: hidden; display: block; opacity: 1; background: none; padding: 10px 0 30px 0;}

div.mask a{display: inline-block; padding: 5px 10px;min-width:100px;margin:5px; text-align:center; }

.field-name-field-member-image {float:left; margin:0 10px 10px 0;}

.breadcrumbs li:first-child a {background:url(../images/icon-home-top.png) no-repeat 0 0; font-size:0; display:inline-block; height:16px; width:19px; overflow:hidden; text-indent:-999px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {     /* Safari only override */
    ::i-block-chrome,.breadcrumbs li:first-child a, #block-menu-menu-header-menu .content > ul.menu > li.first.leaf a {
     background:url(../images/icon-home-top.png) no-repeat 0 -5px;
    }
}

.select-states input[type="text"] {-moz-appearance: none; appearance: none; -webkit-appearance: none;  border: 1px solid #D8D8D8;  border-radius: 5px;  color: #8F949A;   float: left;
    font-size: 16px;  height: 47px;  line-height: 1;  padding: 5px;  width: 76%; margin:0;}
#edit-title-selective{appearance:none; -moz-appearance:none;  -webkit-appearance:none; background: transparent; width:100%; padding: 5px; font-size: 16px; line-height: 1; height: 47px; background:#fff url(../images/form_arrw.png) no-repeat 98% center;  border-radius:5px; border:solid 1px #d8d8d8; float:left; color:#8f949a;}
:root .select-states .select { background:#fff\10; }  /* IE9 */
#views-exposed-form-hospital-network-block {float:left; width:76%;}
#views-exposed-form-hospital-network-page {float: left; width: 76%;}
.view-hospital-network .view-content {float:right; width:22%;}  
.views-exposed-form label{display:block;/*width:35%;padding:20px;*/  font-family: 'open_sanssemibold'; font-weight:normal; }

ul.download-file li { display:block;  border-radius: 5px;  color: #fff; text-align:center;   font-size: 16px;  font-weight: 500; transition: all 0.7s ease 0s; }


 ul.download-file li a, ul.download-file li span, .tabHolder .hospital-download a{ display:block; padding:12px 0;  background: #007ac9; border-radius:5px; color:#fff; font-family: 'open_sanssemibold'; text-align:center; font-size:16px; text-decoration:none; }/*2017-10-30*/


/*ul.download-file li a, ul.download-file li span, .tabHolder .hospital-download a{ display:block; padding:12px 0;  background: #007ac9; border-radius:5px; color:#fff; font-family: 'open_sanssemibold'; text-align:center; font-size:16px; }*/



ul.download-file li a:hover , .tabHolder .hospital-download a:hover {color:#fff; background:#2e2e2e;} 
ul.download-file li span.detail{display:none;}
/*.views-exposed-widget.views-widget-filter-name_selective{width:45%; }*/


#ombudsman_offices table.career {margin:0 0;}
#ombudsman_offices table.career tr th {padding:5px 5px; font-size:15px;}
#ombudsman_offices table.career tr td {padding:10px; /*font-size:90%; color:#646363;*/}
.field-name-field-upload-document {padding-bottom:20px;}

.tender-button {clear:both; text-align:center; padding:10px 0;}
.tender-button a { background: #007ac9; border-radius: 3px; color: #fff; padding: 5px 10px; display:inline-block; margin:0 5px;}
.tender-button a:hover {background: #000a11;}

.faq-footer {padding:30px 0; float:left; width:100%;}
.faq-footer span {display:block; overflow:hidden; font-size:22px; line-height:normal; color:#000000; text-align:left;}
.faq-footer span  strong {color:#007ac9;}

#block-block-27 {padding:10px;  border:1px solid #e0e0e0; border-radius:5px;}
#block-block-27 ul {padding:0 0;}

.node-type-director-member .field-name-field-member-designation {display:block; padding-bottom:15px;  font-family: 'open_sanssemibold';}

.tabContent table {margin-bottom:20px; min-width:600px;}
.tabContent table tr td, .tabContent table tr th {padding:5px ; border:1px solid #eee;}
.tabContent table.data-table tr td, .tabContent table.data-table tr th { border:none; padding:25px 20px}



#views-exposed-form-unclaimed-policy-details-page .views-exposed-form .views-exposed-widget .form-submit {margin-top: 20px; font-size:14px; height:34px;}

.showcontent, .showcsms {background:#0088c4; padding:10px; color:#ffffff; text-align:center; font-family: 'open_sanssemibold'; margin-bottom:40px; clear:both;}

#banner .flex-direction-nav {display:none;}

#ui-datepicker-div {border:1px solid #ccc !important;}

/*------ADD ON 04-02-16-------*/
.form-item-contact-no {
    width: 224px;
    display: inline-block;
    margin-top: 1px !important;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 0px !important;
}
.form-item, .form-actions {
    margin-top: 8px;
    margin-bottom: 1em;
}
.form-item-mobile input[type="text"], .form-item-phone input[type="text"] {
    width: 27%;
}

/*------ADD ON 08-02-16-------*/
.page-product-faq #main .view-product-based-faq span {
    padding: 3px 26px 3px 0;
    font-family: "open_sanssemibold";
    font-size: 16px;
}
.page-product-faq .view-product-based-faq .ui-state-active a, .page-product-faq .view-product-based-faq .ui-state-active a:link, .page-product-faq .view-product-based-faq .ui-state-active a:visited, #ombudsman_offices .ui-state-active a, #ombudsman_offices .ui-state-active a:link, #ombudsman_offices .ui-state-active a:visited {
    color: #3A3A3A;
}
.page-product-faq .view-product-based-faq .ui-state-default, .page-product-faq .view-product-based-faq .ui-widget-content .ui-state-default, .page-product-faq .view-product-based-faq .ui-widget-header .ui-state-default, #ombudsman_offices .ui-state-default, #ombudsman_offices .ui-widget-content .ui-state-default, #ombudsman_offices .ui-widget-header .ui-state-default {
    background: transparent url("../images/plus.png") no-repeat scroll 100% 50%;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #E0E0E0;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 0px;
    padding: 17px 0px;
}
.page-product-faq .view-product-based-faq .ui-state-active, .page-product-faq .view-product-based-faq .ui-widget-content .ui-state-active, .page-product-faq .view-product-based-faq .ui-widget-header .ui-state-active, #ombudsman_offices .ui-state-active, #ombudsman_offices .ui-widget-content .ui-state-active, #ombudsman_offices .ui-widget-header .ui-state-active {
    background: transparent url("../images/minus.png") no-repeat scroll 100% 50%;
}

.page-product-faq .view-product-based-faq .ui-accordion .ui-accordion-content, #ombudsman_offices .ui-accordion .ui-accordion-content {
    padding-left: 0px;
    max-height: none;
    max-width: none;
    background: none !important;
}
.page-product-faq .view-product-based-faq .ui-widget-content, #ombudsman_offices .ui-widget-content {
    border: none;
}
.page-product-faq select {-webkit-appearance: none;-moz-appearance: none;}
.page-product-faq select.form-select {border-radius:2px;background: url("../images/arow-down.png") no-repeat right 10px top 50%;padding: 6px 11px;height: auto;}
select::-ms-expand {
    display: none;
}
.page-product-faq .views-exposed-form .views-exposed-widget {
    width: 30%;
}
.page-product-faq .views-exposed-form label, .page-faq .views-exposed-form label{font-size: 14px;margin-bottom: 10px;}

.page-faq .views-exposed-form .views-exposed-widget {
    width: 30%;
}
.page-faq select {-webkit-appearance: none;-moz-appearance: none;}
.page-faq select.txtF {border-radius:2px;background: url("../images/arow-down.png") no-repeat right 10px top 50%;padding: 6px 11px;height: auto;}
.field-items ul {
    padding-left: 15px;
}
.right-panel ul li a.faq{  background: rgba(0, 0, 0, 0) url("../images/icon-faq.png") no-repeat  0 5px;}
.right-panel ul li a.garage{  background: rgba(0, 0, 0, 0) url("../images/icon-garage.png") no-repeat  0 5px;}
.right-panel ul li a.hospital{  background: rgba(0, 0, 0, 0) url("../images/icon-hospital.png") no-repeat  0 5px;}
ul[data-sa-theme="basic-orange"] .ui-autocomplete-field-term {color:#0187c6;}
ul.ui-menu[data-sa-theme="basic-orange"] .ui-menu-item a:hover .ui-autocomplete-field-term{color:#ffffff;}



/* ===== New Career ===== */
.career-box-holder {border-bottom:1px solid #d8d8d8; padding-bottom:38px;}
.box-career {float:left; width: 23.8%; margin: 1% 0 1% 1.6%; border:1px solid #eeeeee; position:relative;}
.box-career:first-child {margin-left: 0;}
.box-career img {display:block; width:100%;}
#main .box-career  .career-title {position:absolute; bottom:15px; right:0; background:rgba(42,42,42,0.7); border:1px solid rgba(255,255,255,0.3); padding:5px 10px; margin:0; color:#fff; font-size:16px; }
#main .box-career ul {position:absolute; height:100%; width:100%; overflow:auto; left:0; top:0; background:rgba(0,135,199,0.9); padding:18px;   -webkit-transition: all 0.7s ease 0s;  -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s; opacity:0; }
#main .box-career ul li { border-top:1px solid #00a9db;}
#main .box-career ul li:first-child {border:none;}
#main .box-career ul li a {color:#99ccff; padding:5px 0; display:block; text-decoration:none;}
#main .box-career ul li a:hover {color:#ffffff;}
#main .box-career:hover ul {opacity:1;}

.get-opportunity {text-align:center; font-size:22px; color:#333333; padding:40px 0;}
.get-opportunity a {color:#fff; background:#007ac9; display:inline-block; padding:10px 22px; font-family: 'open_sanssemibold'; font-size:18px; text-decoration:none !important;  -webkit-transition: all 0.7s ease 0s;  -moz-transition: all 0.7s ease 0s;  -o-transition: all 0.7s ease 0s;  transition: all 0.7s ease 0s; }
.get-opportunity a:hover {background:#333333;}


.right-panel ul li a.claim{background: rgba(0, 0, 0, 0) url("../images/icon-claim.png") no-repeat  0 5px;}


ol.number_list{margin-left:35px; padding-bottom: 20px;}
ol.number_list li {margin:0 0 10px; padding-left:5px;}
ol.number_list li ul {padding:10px 0 0 20px;}
ol.number_list li a{color:#646363;}

.right-panel ul li a.career{background: rgba(0, 0, 0, 0) url("../images/icon-career.png") no-repeat  0 5px;}

/* ===== Our Belief ===== */
.our-belief {padding-bottom:20px; }
.our-belief ul {width:100%; position:relative;text-align: center }
.our-belief ul li { margin:5px; display:inline-block;  vertical-align:top; height:150px;  /*-webkit-transition: all 1s ease 0s;  -moz-transition: all 1s ease 0s;  -o-transition: all 1s ease 0s;  transition: all 1s ease 0s;*/  overflow:hidden; width: 18.72%;  }
.our-belief ul li a {position:relative; display:block;}
.our-belief ul li img { display:block;  border:1px solid #e4e4e4; padding:3px; width:100%;height:auto  }
.our-belief ul li .belief_content {position:absolute; width:100%; top:auto; left:0; padding:3px; background:#ffffff; border:1px solid #e3e3e3; overflow:auto; margin-top:20px; display:none;  }
.our-belief ul li .belief_content .inner { background:#f0efef; padding:25px; text-align:center; font-size:105%;}
.our-belief ul li .belief_content .name {display:block; color:#59c0f0;}

/*.our-belief ul li:first-child .belief_content{ display:block;}*/
.our-belief ul li.active a:after, .our-belief ul li.active a:before { bottom: 100%; left: 50%;  border: solid transparent;  content: " ";   height: 0;  width: 0;   position: absolute; pointer-events: none;   z-index:2;}

.our-belief ul li.active a:after {border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff;  border-width: 15px; margin-left: -15px; bottom:-21px;}
.our-belief ul li.active a:before {border-color: rgba(227, 227, 227, 0);    border-bottom-color: #e3e3e3;   border-width: 16px; margin-left: -16px; bottom:-20px;}

/* ===== Our Reach ===== */

.our-reach ul li {float:left; border:8px solid #ececec; margin:0 8px 8px 0; position:relative;}
.our-reach ul li span {position:absolute; bottom:0; left:0; background:rgba(0,0,0,0.6); display:block; font-size:21px; line-height:normal; color:#ffffff; padding:8px 15px; width:100%;}
.our-reach ul li span strong{ font-weight:normal; font-family: 'open_sansbold'; }

.our-reach ul li:first-child span {font-size:30px; padding:15px 15px;}

.field-items .our-reach ul {padding-left: 5px;}

/* ===== Hr Desk ===== */
.hr-pic {float:left; width:81px; margin:0 13px 0 0; border:1px solid #e7e7e7; padding:3px;}
.hr-pic img {display:block; width:100%;height:auto}
.hr-article {overflow:hidden;}
.hr-article .designation { color:#017ac9; font-size:90%; padding:5px 0 15px 0}
.video-container {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}


/*-----------Vertical tabs-----------*/
.tabHolder {padding-bottom:20px; padding-top:20px;}
.resp-tabs-list li {font-size: 14px; display: inline-block;  padding: 13px 15px;  margin: 0 4px 0 0;   list-style: none;  cursor: pointer;  float: left; color:#ffffff;}
.resp-tabs-container {padding: 0px;  background-color: #fff;  clear: left;}
h2.resp-accordion {cursor: pointer;    padding: 5px;    display: none;}
.resp-tab-content {display: none;}
#main  h2.resp-accordion {border-bottom: 2px solid #e0e0e0;    margin: 0px;    padding: 15px 25px 15px 10px; font-size:18px; line-height:normal; position:relative;}
h2.resp-tab-active {border-bottom: 2px solid #0088c4 !important;  margin-bottom: 0px !important;}
h2.resp-tab-title:last-child {border-bottom: 12px solid #c1c1c1 !important; background: blue;}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {float: left;  width: 190px; background:#0b8ac4; padding:10px 0 10px 10px;}
.resp-vtabs .resp-tabs-list li {display: block; padding:10px !important; margin: 0 0 ;  cursor: pointer; float: none; border-bottom:1px solid #016fa1; border-top:1px solid #1e9dd7; height:60px; margin-right:10px;  }

.resp-vtabs .resp-tabs-list li:first-child {border-top:none;}
.resp-vtabs .resp-tabs-list li:last-child {border-bottom:none;}
.resp-vtabs .resp-tabs-container {padding: 0px;  overflow:hidden;  clear: none; padding-left:37px; padding-bottom:20px;}
.resp-vtabs .resp-tab-content {border: none;  word-wrap: break-word;}
.resp-vtabs li.resp-tab-active {position: relative; z-index: 1;  color:#3a3a3a; border:none; margin-right:0; background:#e4e3e3 !important;  }
.resp-vtabs li.resp-tab-active:before{width: 0;  height: 0;     border-top: 30px solid transparent; border-bottom: 30px solid transparent;  border-left: 30px solid #e4e3e3; position:absolute; top:50%; margin-top:-30px; right:-30px; content:"";}
.resp-arrow {width: 20px; height: 20px; background:url(../images/plus.png) no-repeat 0 0; display:block; position:absolute; right:10px; top:15px; }
h2.resp-tab-active span.resp-arrow { background:url(../images/minus.png) no-repeat 0 0;}
/*-----------Accordion styles-----------*/
#main h2.resp-tab-active {/*background: #DBDBDB; !important;*/}
#main .resp-easy-accordion h2.resp-accordion {display: block;}
.resp-easy-accordion .resp-tab-content {border: 1px solid #c1c1c1; background:#f3f3f3;}

.resp-easy-accordion .resp-tab-content:last-child {border-bottom: 1px solid #c1c1c1;/* !important;*/}
.resp-jfit {width: 100%;  margin: 0px;}
.resp-tab-content-active {display: block;}

.current-opening  .resp-vtabs ul.resp-tabs-list {background:#eeeeee;}
.current-opening .resp-vtabs .resp-tabs-list li {height:auto; color:#3a3a3a; border-top:1px dotted #a7a6a6; border-bottom:none; padding:13px 8px!important; }
.current-opening .resp-vtabs .resp-tabs-list li:first-child {border-top:none;}
.current-opening .resp-vtabs li.resp-tab-active {background:#007ac9 !important; color:#ffffff; padding-right:15px; }
.current-opening .resp-vtabs li.resp-tab-active:before{width: 0;  height: 0;    border-top: 25px solid transparent; border-bottom: 25px solid transparent;  border-left: 25px solid #007ac9; position:absolute; top:50%; margin-top:-25px; right:-25px; content:"";}

@media only screen and (max-width: 768px) {
    .resp-vtabs .resp-tabs-container {padding-left:0;}
    ul.resp-tabs-list {display: none;}
    h2.resp-accordion {display: block;}
    .resp-vtabs .resp-tab-content { background:#f3f3f3; padding:10px;}
    .resp-vtabs .resp-tabs-container {border: none;  float: none;   width: 100%;    min-height: 100px;   clear: none; }
    .resp-accordion-closed {display: none !important; }
   #main .resp-tabs-container h3  {font-size:120%;}
}

/* ========== All Open Positions========== */
.allPositions{}
.jobs h3{color:#0386c7 !important; font-family: 'open_sansregular'; font-size:16px !important; font-weight:normal !important; margin-top:30px;}
.jobs{border-top:solid 1px #e3e3e3;}
.jobs:first-child{border-top:none;}

.jobs ul{margin-bottom:10px;  white-space: nowrap; overflow: hidden;}
.jobs ul li{ margin-bottom:7px;}
.jobs ul li img{vertical-align:middle; display:inline-block; margin-right:12px;}
.jobs ul li span{display:inline-block; vertical-align:middle; margin:0; color:#b3b0b0; font-size:13px;  text-overflow: ellipsis; width:500px; white-space: nowrap; overflow: hidden;}

.jobs p{color:#646363; font-size:13px; margin-bottom:30px;}
.job-edit{float: right;}

.jobs .job_location, .jobs .functional_areas, .jobs .job_date, .jobs .job_file { color:#b3b0b0; padding:0 0 15px 35px;}
.jobs .job_location {background:url(../images/icon-job-location.png) no-repeat 0 0;}
.jobs .functional_areas {background:url(../images/icon-job-area.png) no-repeat 0 0;}
.jobs .job_date {background:url(../images/icon-date.png) no-repeat 0 0;}
.jobs .job_file {background:url(../images/icon-pdf.png) no-repeat 0 0;}
.jobs .job_file a {color:#b3b0b0;}

@media only screen and (max-width: 768px) {
    .resp-vtabs .resp-tabs-container {padding-left:0;}
    ul.resp-tabs-list {display: none;}
    h2.resp-accordion {display: block;}
    .resp-vtabs .resp-tab-content { background:#f3f3f3; padding:10px;}
    .resp-vtabs .resp-tabs-container {border: none;  float: none;   width: 100%;    min-height: 100px;   clear: none; }
    .resp-accordion-closed {display: none !important; }
   #main .resp-tabs-container h3  {font-size:120%;}
}

/* ========== How We Hire ========== */
.hire-process-wrapper {clear:both;}
.hire-process{ float:left; width:145px; margin-right:15px;}
.process{ }
.process-col {text-align:center; position:relative; padding-top:20px;}

.process-col:first-child { padding-top:0;}
.process-col span {display:block; font-family: 'open_sanssemibold'; font-size:13px; color:#3a3a3a; padding:0;}
.process-content {overflow:hidden;}
/* ===== Meet Our People ===== */


.our-belief ul li .belief_content .inner p.highlight-text {color:#0095da; font-size:110%;}

/* ===============================*/

@media only screen and (max-width: 1279px) {
    .hire-process {background-size: 90% auto;}
    
}
@media only screen and (max-width: 767px) {
    .hire-process { display:block; float:left; margin:0 20px 0 0; width:100px;}
    .process {display:block;}
    .process-col {display:block; margin:0 0 40px 0;}
    .process-col img {display:block; max-width:100%; margin:0 auto;}
    .process-col:after {background:url(../images/arrow-process-small.png) no-repeat 0 0; left:50%; top:auto; bottom:-28px; height:18px; width:33px; margin-left:-16px;}
    .process-col:first-child:after {display:block;}
    .process-col:last-child:after {display:none;}
    .process-col span {font-size:14px;}
    .process-content { overflow:hidden;}
}
@media only screen and (max-width: 640px) {
    .process-col img {max-width:80px;}
}

.tabContent.policy .col-1:first-child {margin-left:10px;}



#messages {clear:both;}
.page-careers-know-us-hr-desk .hr-pic{
width:200px;
}
.hr-description-text-justify{
text-align:justify;
}

/* Our Reach */
.reach-image { position:relative;}
.reach-image img {display:block; width:100%;}
.reach-image ul  {position:absolute; left:-15px; top:20px;}
.reach-image ul li { margin-bottom:20px; background:rgba(9,86,127,0.7); padding:24px 28px; color:#ffffff; font-size:18px; font-family: 'open_sanssemibold'; height:75px; position:relative;}
.reach-image ul li span {font-size:25px;}
.reach-image ul li:after{ content:""; height:0; width:0; border-style: solid; border-width: 0 75px 75px 0; border-color: transparent transparent rgba(9,86,127,0.7) transparent; position:absolute; right:-75px; top:0;}
.reach-image ul li a {color: #fff;}
.reach-image ul li a:hover {color: #000;text-decoration: none;}

@media only screen and (max-width: 640px) {
    .reach-image ul{top:5px;}
    .reach-image ul li {height:43px; padding:8px; font-size:14px; margin-bottom:5px;}
    .reach-image ul li {font-size:16px;}
    .reach-image ul li::after {   border-width: 0 43px 43px 0; right:-43px;}
}
@media only screen and (max-width: 480px) {
    .reach-image ul li {font-size:12px;}
    .reach-image ul li  span{font-size: 16px;}
}

/* Added on 24-01-17 **/
.tb-megamenu .dropdown-menu .mega-nav > li.long-term-two-wheeler {
    background: rgba(0, 0, 0, 0) url("../images/3yrs-Motor-Two-Wheeler-icon.png") no-repeat scroll 0 0;
    min-height: 90px;
    padding-left: 80px;
}

/* ===== Blog ===== */
ul.blogs-ul { overflow:hidden;}
ul.blogs-ul li {float:left; width:31%; margin:0 0 3.5% 3.5% !important;}
ul.blogs-ul li:first-child {width:100%;}
ul.blogs-ul li:first-child, ul.blogs-ul li:nth-child(2),  ul.blogs-ul li:first-child, ul.blogs-ul li:nth-child(5), ul.blogs-ul li:nth-child(8), ul.blogs-ul li:nth-child(11) {margin-left:0 !important;}

ul.blogs-ul li .views-field-field-blog-thumb {border:1px solid #d8d8d8; margin-bottom:10px; clear:both;}
ul.blogs-ul li img {display:block; width:100%; height:auto; margin:0 auto;}
ul.blogs-ul li .views-field-field-blog-category a {text-decoration:underline;}
ul.blogs-ul li .views-field-field-blog-category a:hover {text-decoration:underline;}
ul.blogs-ul li .views-field-title { height:45px; overflow:hidden; clear:both; width:100%; margin:5px 0; float:left; font-size:15px; font-weight:600; line-height:normal;}
ul.blogs-ul li:first-child  .views-field-title { height:auto; font-size:20px;}

ul.blogs-ul li .views-field-title a { color:#0386c7; text-decoration:none;}
ul.blogs-ul li .views-field-title a:hover { text-decoration:underline;}
ul.blogs-ul li .views-field-field-blog-category, ul.blogs-ul li .views-field-created { float:left; width:49%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
ul.blogs-ul li .views-field-created {text-align:right; float:right;}

/*body.node-type-blog*/
div.left-panel h1#page-title {font-size:30px;}

.view-id-blog_category ul {padding-top:26px !important;}
.view-id-blog_category ul li { background:url(../images/blog-list-icon.png) no-repeat 0 6px;}

.blog-content-top { overflow:hidden; padding-bottom:10px;}
.blog-cat, .blog-date {float:left; width:49%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.blog-date {text-align:right;}
.blog-cat a { color:#0386c7; text-decoration:underline;}
.blog-cat a:hover { text-decoration:none;}
.blog-details  img {display:block; width:100%; height:auto;}

div.os-share-widget-interface div {display: none !important;}ul.blogs-ul li .views-field-title 

a.googleplus + div {display:none !important;}


.blog-details li{width:100%; margin:0 0 12px 0; background:url(../images/key-featr.png) no-repeat left 3px; padding-left:25px; line-height: 20px;}
.blog-details ul {padding:10px 0 0;}
.blog-details ul li { background:url(../images/key-featr-inner.png) no-repeat left 3px;}
.blog-details li a{/*font-size:14px;*/ color:#646363;}

.block-simplified-social-share {padding-top:20px;}
.blog-details p { font-size: 14px !important; margin: 0px 0 10px !important; }
.blog-details ul li { font-size: 14px !important; }


ul.blogs-ul li .views-field-body {min-height: 100px;}
ul.blogs-ul li:first-child .views-field-body {min-height:initial}


.view-hospital-network.view-display-id-page .hospital-holder.tabHolder {padding-bottom: 0px; padding-top: 0px; margin-bottom: 0px;}

.blog-content-top img {display: block; width: 100%; margin: 0 auto;}

.social-media ul li img {width: 40px; height:auto;}

/*OTP page CSS start*/
.logo{padding: 18px}
#quick-link{background: ghostwhite;text-align: center;padding: 15px;margin-top: 50px;}
.otpWrapper{text-align:center; display:inline-block; padding:15px}
.otpWrapper > span{font-size: 15px}
.otpInputDiv{padding-top: 20px}
.otpInputDiv > input{text-align: center;display: inline-block;}
#otpError{color: red;font-size: 17px;display: none;}
.submitOtp{margin-top: 15px;}
.submitOtp > button{padding: 10px;width: 22%}
/*OTP page CSS end*/
.hideblock{display: none !important}
.showblock{display: block !important}
.red{color: red}
.green{color:green;}
